*.pyc
__pycache__/
.idea/
private_*
.pytest_cache
venv/
/undyingkingdoms.egg-info
/export
env/
undyingkingdoms/routes/gameplay/testing_page.py
*scratchpad*
.ipynb_checkpoints
frontend/node_modules
/undyingkingdoms/static/dist
/undyingkingdoms/templates/dist
package-lock.json
export/dump.sql
bin/activate
.vagrant

# Log files
/logs/
