*.pyc
__pycache__/
.idea/
private_*
.pytest_cache
venv/
/undyingkingdoms.egg-info
/export
env/
app/routes/gameplay/testing_page.py
*scratchpad*
.ipynb_checkpoints
frontend/node_modules
/app/static/dist
/app/templates/dist
package-lock.json
export/dump.sql
bin/activate
.vagrant
*.sublime-project
*.sublime-workspace

# Log files
/logs/
