__pycache__/
.idea/
private_*
.pytest_cache
venv/
/undyingkingdoms.egg-info
/export
env/
*.pyc
undyingkingdoms/routes/gameplay/testing_page.py
*scratchpad*
.ipynb_checkpoints
/npm-debug.log
/undyingkingdoms/static/dist/
/frontend/
/System Volume Information/
