{% extends "mobile/gameplay/layout.html" %}

{% block title %}Attack: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100%;
    max-width: 360px;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.4em;
}

#footer {
    width: 100%;
    max-width: 360px;
}

button {
    width: 100%;
}

select {
    padding: 0.3em;
    border-radius: 5px;
}

.tab {
    margin-left: 1em;
}

.spacer {
    margin-bottom: 1em;
}
</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="content">
  <form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <h1>Build Company</h1><br>
    <div id="header">
      <h2>Attack power available: {{ county.get_offensive_strength() }}</h2><br>
      <ul>
      {% for army in county.armies.values() %}
        {% if army.name != 'archer' %}
          <li class="spacer">{{ army.class_name.capitalize() }}: {{ form[army.name] }} (Available: {{ army.available }} / {{ army.total }}) (Attack Power: {{ army.attack }} per troop)
            <p class="tab">(Attack Power: {{ army.attack }} per troop)</p>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      <p>Choose to make a traditional attack to conquer land, a razing expedition to destroy enemy land, or to pillage and steal gold, wood, and iron.</p>
      <p>{{ form.attack_type }}</p>
      <br>
    </div>
    <div id="footer">
      <p>Current Army has <span id="calculatedAttack">0</span> attack power (currently doesn't display any bonuses from technology or races).</p>
      Duration: Raze 8 days, Pillage 12 days, Attack 18 days
      <br><br>
      <button type="submit">Attack</button>
    </div>
  </form>
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
{% set county = current_user.county %}
<script type="text/javascript">
{% for unit in county.armies.values() %}
{% if unit.name != 'archer' %}
document.getElementById('{{ unit.name }}').onchange = function() {
    updateAttack();
    updateDuration();
}
var {{ unit.name }}_amount = document.getElementById("{{ unit.name }}");
console.log({{ unit.name }}_amount);
{% endif %}
{% endfor %}

function updateAttack() {
    var total_power = 0;
    total_power = 0{% for unit in county.armies.values() %}{% if unit.name != 'archer' %}  + parseInt({{ unit.name }}_amount.value) * parseInt({{ unit.attack }}){% endif %}{% endfor %};
    calculatedAttack.innerHTML = total_power;
}
function updateDuration() {
    var days_to_return = 0;
    var total_units = 0;
    total_units = 0{% for unit in county.armies.values() %}{% if unit.name != 'archer' %}  + parseInt({{ unit.name }}_amount.value){% endif %}{% endfor %};
    console.log(total_units);
    days_to_return = Math.ceil(total_units / 20) + 2;
    attackDuration.innerHTML = days_to_return;
}

</script>
{% endblock %}
