{% extends "mobile/gameplay/layout.html" %}

{% block title %}Town Hall: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toggleSwitch.css') }}">
<style type="text/css">
#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em 1em;
}

#header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-bottom: 0;
}

#chatDiv {
    width: 100%;
    max-width: 500px;
}

#chatlist {
    border: solid 1px;
    border-radius: 4px;
    padding: 0.4em;
    min-height: 14em;
    width: 100%;
}

form {
    width: 100%;
    max-width: 500px;
}

input {
    padding: 1em;
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 0.4em;
}

button {
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
}

.tab {
    margin-left: 1em;
}
</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="body">
  <div id="header">
    <h1>Discussion</h1>
    <label class="switch">
      <input id="toggle-switch" type="checkbox" {% if global_chat_on %}checked{%endif %}>
      <div class="slider round">
        <span class="on">global</span>
        <span class="off">kingdom</span>
      </div>
    </label>
  </div>
  <div id=chatDiv>
    <ul id="chatlist" class="dont-break-out">
    </ul>
  </div>
  <br>
  <form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <input autofocus="" class="form-control " id="content" name="content" placeholder="Public to your kingdom" required type="text" value="">
    <br><br>
    <button id="send" type="submit">Send Herald</button>
  </form>
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
function formatDate(date) {
    var hours = ("0" + date.getHours()).slice(-2);
    var minutes = ("0" + date.getMinutes()).slice(-2);
    var seconds = ("0" + date.getSeconds()).slice(-2);

    return hours + ":" + minutes + ":" + seconds;
}

function build_element(time, leader, content) {
    // <li> 13:27:26  Haldon: Test message</li>
    var date = new Date(time + "Z");
    return $("<li></li>").text(
        "(" + formatDate(date) + ") " + leader + ": " + content
    );
}

function sendMessage() {
    $.ajaxSetup({
        headers: {"X-CSRF-TOKEN": $("#csrf_token").val()}
    });

    $.post("/gameplay/chatroom/", {
        content: $("#content").val(),
        updateOnly: false,
        isGlobal: $("#toggle-switch").prop("checked")
    }, function (resp, status) {
        if (status === "success") {
            $("#content").val("");
            $("#chatlist").append(
                build_element(resp.data[0], resp.data[1], resp.data[2])
            );
        }
    });
}

$("form").submit(function (e) {
    e.preventDefault();
    sendMessage();
});

function updateChat() {
    $.ajaxSetup({
        headers: {"X-CSRF-TOKEN": $("#csrf_token").val()}
    });

    $.post("/gameplay/chatroom/", {
        message: "",
        updateOnly: true,
        isGlobal: $("#toggle-switch").prop("checked")
    }, function (resp, status) {
        if (status === "success") {
            $("#csrf_token").val(resp.csrf);
            $("#chatlist").empty();
            $.each(resp.data, function (ignore, value) {
                $("#chatlist").append(
                    build_element(value[0], value[1], value[2])
                );
            });
        }
    });
}

var clock = {
    handle: null,
    run: function () {
        updateChat();  // run immediately on focus, then every x seconds.
        return setInterval(updateChat, 4000);
    }
};

// Active update function when the window gains focus.
$(window).on("focus", function () {
    clock.handle = clock.run();
});

// Stop update function when the window loses focus.
$(window).on("blur", function () {
    clearInterval(clock.handle);
});

// Pull chat date once page loads
$(document).ready(updateChat());

// Reload chat if toggle button is clicked
$('.switch').on('click', function () {
    updateChat();
});
</script>
{% endblock %}
