{% extends "mobile/gameplay/layout.html" %}

{% block title %}Diplomacy: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.max-width-32 {
    max-width: 32em;
    margin: auto auto 1.3em;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    margin-bottom: 0.3em;
}

.center {
    align-self: center;
}
</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="content">
  <div class="max-width-32">
    <h1 class="center">Trades We Offered</h1>
    {% for trade in trades_offered if trade.status == 'Pending' %}
      <p>We offered a trade to county id: {{ trade.target_id }}.</p>
      <p>We offered {{ trade.gold_to_give }} gold, {{ trade.wood_to_give }} wood, {{ trade.iron_to_give }} iron, and {{ trade.stone_to_give }} stone.</p>
    <p>We asked for {{ trade.gold_to_receive }} gold, {{ trade.wood_to_receive }} wood, {{ trade.iron_to_receive }} iron, and {{ trade.stone_to_receive }} stone.</p>
      <p>The trade expires in {{ trade.duration }} days if they do not reply. </p>
    <button class="cancel" value="{{ url_for('diplomacy_reply', trade_id=trade.id) }}">Cancel</button>
    {% else %}
        We currently have not offered any county a trade.
    {% endfor %}
    <br><br>
    <h1 class="center">Trades Offered To Us</h1>
    {% for trade in trades_received if trade.status == 'Pending' %}
        <br>
        We were offered a trade by county id: {{ trade.target_id }}.
        We were offered {{ trade.gold_to_give }} gold, {{ trade.wood_to_give }} wood, and {{ trade.iron_to_give }} iron
        in exchange for {{ trade.gold_to_receive }} gold, {{ trade.wood_to_receive }} wood, and {{ trade.iron_to_receive }} iron.
        The trade expires in {{ trade.duration }} days if we do not reply. <button class="accept" value="{{ url_for('diplomacy_reply', trade_id=trade.id) }}">Accept</button><button class="reject" value="{{ url_for('diplomacy_reply', trade_id=trade.id) }}">Reject</button>
    {% else %}
        We currently have no offers by any county to trade.
    {% endfor %}
  </div>
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
// attached to every "accept" class object.
// This object must have a "value" attribute
// that contains the url to send to.
$(".accept").click(function () {
    $.get(
        $(this).val() + "?accept=1",
        function (response, status) {
            if (status === "success") {
                console.log(response);
            } else {
                console.log(response);
            }
    }, "json");
});

// attached to every "reject" class object.
// This object must have a "value" attribute
// that contains the url to send to.
$(".reject").click(function () {
    $.get(
        $(this).val() + "?reject=1",
        function (response, status) {
            if (status === "success") {
                console.log(response);
            } else {
                console.log(response);
            }
    }, "json");
});

$(".cancel").click(function () {
    $.get(
        $(this).val() + "?cancel=1",
        function (response, status) {
            if (status === "success") {
                console.log(response);
            } else {
                console.log(response);
            }
    }, "json");
});
</script>
{% endblock %}
