{% extends "mobile/gameplay/layout.html" %}

{% block title %}Thieves Guild: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

#header {
    max-width: 400px;
    margin: auto auto 1.3em;
}

#footer {
    max-width: 400px;
    margin: auto;
}

h2 {
    margin-bottom: 0.3em;
}

ul.mission li:first-of-type {
    font-weight: bold;
}
</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="content">
  <div id="header">
    <h2>Thieves available: {{ county.get_number_of_available_thieves() }} / {{ county.thief_slots }}</h2>
    <p>Your current bonus chance of catching enemy thieves: {{ county.get_chance_to_catch_enemy_thieves() }}%</p>
  </div>
  <div id="footer">
    <h2>Active Missions</h2>
    <ul class="mission">
      {% for mission in missions %}
        {% set target = mission.target %}
        <li>
          <a href="{{ url_for('enemy_overview', county_id=target.id) }}">{{ target.name }}</a>
          {% if mission.success %}
            {% if mission.mission == 'pilfer' %}
              Your {{ mission.amount_of_thieves }} thieves were able to steal {{ mission.pilfer_amount }} <img class="resource_icons" src="/static/images/gold_icon.jpg">. (Ready for next mission in {{ mission.duration }} days).
            {% elif mission.mission == 'burn crops' %}
              Your {{ mission.amount_of_thieves }} thieves burned {{ mission.crops_burned }} crops. (Ready for next mission in {{ mission.duration }} days).
            {% elif mission.mission == 'kill cattle' %}
              Your {{ mission.amount_of_thieves }} thieves destroyed {{ mission.dairy_destroyed }} pastures. (Ready for next mission in {{ mission.duration }} days).
            {% elif mission.mission == 'sow distrust' %}
              Your {{ mission.amount_of_thieves }} thieves caused unrest and lowered enemy happiness by {{ mission.distrust }} <img class="resource_icons" src="/static/images/happiness_icon.jpg">. (Ready for next mission in {{ mission.duration }} days).
            {% elif mission.mission == 'scout military' %}
              Your {{ mission.amount_of_thieves }} thieves have successfully scouted the enemy's military. (Ready for next mission in {{ mission.duration }} days).
            {% elif mission.mission == 'steal research' %}
              Your {{ mission.amount_of_thieves }} thieves have successfully stolen {{ mission.research_stolen }} research. (Ready for next mission in {{ mission.duration }} days).
            {% else %}
              You need to write some code to handle missions of type "{{ mission.mission }}".
            {% endif %}
          {% else %}
            The {{ mission.amount_of_thieves }} thieves you sent were caught. You will have trained new thieves to replace them in {{ mission.duration }} days.
          {% endif %}
        </li>
      {% else %}
        <li>All of your thieves are currently patrolling your county.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">

</script>
{% endblock %}
