{% extends "mobile/gameplay/layout.html" %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

{% block title %}Infiltrate: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

#header {
    max-width: 400px;
    margin: auto auto 1.3em;
}

#footer {
    max-width: 500px;
    margin: auto;
}

h2 {
    margin-bottom: 0.3em;
}

form {
    margin-bottom: 1.3em;
}

select {
    margin-left: 0.4em;
    border-radius: 4px;
    height: 3em;
    padding-left: 0.8em;
    padding-right: 0.5em;
}

button {
    height: 3em;
    width: 15em;
    border-radius: 4px;
    margin-left: 0.6em;
}

li {
    margin-bottom: 0.2em;
}

.spacer {
    margin-bottom: 0.3em;
}
</style>
{% endblock %}

{% block content1 %}
<div id="content">
  <div id="header">
    <h1>Target: {{ target.name }} led by {{ target.leader }}</h1>
    <br>
    {% if county.get_number_of_available_thieves() == 0 %}
    <h2>You do not have any available thieves. Either wait for them to return from previous missions or build more
      guilds.</h2>
  </div>
    {% else %}
  <form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <h2>What type of mission would you like to do?</h2>
    {{ form.mission }}
    <h2>How many thieves would you like to send?</h2>
    {{ form.amount }}
    <button type="submit">Send Thieves</button>
  </form>

  <div id="footer">
    <p class="spacer">Basic Info (This feature is very new and might be tweaked mid-age. During this period, the numbers will be shown
      here for visibility):</p>
    <ul>
      <li>Gold stolen per thief: 15-25 (+25% bonus for each additional thief), Duration: 14 days</li>
      <li>Crops burned per thief: 1, Duration: 24 days</li>
      <li>County happiness lost per thief: 3, Duration: 18 days</li>
      <li>Scout military: 1 thief (50% accuracy). 2 thieves (70% accuracy). 3+ thieves (90% accuracy), Duration: 6
        days
      </li>
      <li>*Note for accuracy: If enemy has 100 knights, 50% accuracy means thieves would report between 50-150
        knights.*
      </li>
    </ul>
  </div>
  {% endif %}
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">

</script>
{% endblock %}
