{% extends "mobile/gameplay/layout.html" %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

{% block title %}Infrastructure: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
	margin: 1.2em 2em;
}
h1 {
	padding-bottom: 0.4em;
	text-align: center;
}

h2 {
	padding-bottom: 0.3em;
}

button {
	width: 90%;
	border-radius: 4px;
	padding: 0.3em;
	margin-top: 0.3em;
}

#table {
	display: flex;
}

.col > div {
	min-height: 2em;
}

th {
	font-weight: bold;
	font-size: 1.3em;
}

.tooltipMobile {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipMobile .tooltipTextMobile {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltipMobile:hover .tooltipTextMobile {
    visibility: visible;
}
</style>
{% endblock %}

{% block content1 %}
<div id="content">
	<h2>Total Land: {{ county.land }}</h2>
	<h2>Available Land: {{ county.get_available_land() }}</h2>
	<h2>Daily Production:
		{{ county.get_production()|int }} <img class="resource_icons" src="/static/images/prod_icon.jpg">
		<br>
		(<span class="tooltipMobile">{{ county.get_available_workers() }} available workers
				<span class="tooltipTextMobile">{{ meta_data["available_workers"] }}</span>
		</span>)
	</h2>
	<h2>Current Resources:
		{{ county.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg">
		{{ county.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg">
		{{ county.iron }} <img class="resource_icons" src="/static/images/iron_icon.jpg">
	</h2>
	<br>
	<form method="POST" accept-charset="UTF-8" role="form">
		{{ form.csrf_token }}
		<table class="production_table">
			<tbody>
				{% for building in county.buildings.values() %}
				<tr>
					<th colspan="2">{{ building.class_name.title() }}</th>
				</tr>
				<tr>
					<td>Owned</td>
					<td>{{ building.total }}</td>
				</tr>
				<tr>
					<td>Under Construction</td>
					<td>{{ building.pending }}</td>
				</tr>
				<tr>
					<td>To Be Built</td>
					<td>
						<input id="{{ building.base_name }}_slider" type="range" value="0" min="0" max="20" step="1"/>
						<span id="{{ building.base_name }}_display">0</span>
						<input id="{{ building.base_name }}_value" name="{{ building.base_name }}" value="0" hidden/>
						<button id="submitButton" type="submit">Build</button>
					</td>
				</tr>
				<tr>
					<td>Cost</td>
					<td>
						{{ building.production_cost }}<img class="resource_icons" src="/static/images/prod_icon.jpg">
						{% if building.gold %}{{ building.gold }}<img class="resource_icons" src="/static/images/gold_icon.jpg">{%
						endif %}
						{% if building.wood %}{{ building.wood }}<img class="resource_icons" src="/static/images/wood_icon.jpg">{%
						endif %}
					</td>
				</tr>
				<tr>
					<td>Workers Employed</td>
					<td>{{ building.labour_maintenance * building.total }} ({{ building.labour_maintenance }} each)</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>{{ building.description }}</td>
				</tr>
				{% endfor %}
				<tr style="font-weight:bold;">
					<th colspan="2" style="width:150px;">Total</th>
				</tr>
				<tr>
					<td>Owned</td>
					<td>{{ county.buildings.values()|sum(attribute='total') }}</td>
				</tr>
				<tr>
					<td>Under Construction</td>
					<td>{{ county.buildings.values()|sum(attribute='pending') }}</td>
				</tr>
				<tr>
					<td>To Be Built</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Cost</td>
					<td style="width:150px;">-</td>
				</tr>
				<tr>
					<td>Workers Employed</td>
					<td style="width:150px;">{{ county.get_maintenance_workers() }}</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>-</td>
				</tr>
			</tbody>
		</table>
		<br>
		Gold Cost: <span id="goldCost">0</span>
		<img class="resource_icons" src="/static/images/gold_icon.jpg"> / {{ county.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg"><br>
		Wood Cost: <span id="woodCost">0</span>
		<img class="resource_icons" src="/static/images/wood_icon.jpg"> / {{ county.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg">
	</form>
</div>
{{ super() }}
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
var submitButton = $("#submitButton");
var goldCost = $("#goldCost");
var woodCost = $("#woodCost");

var houses_slider = $("#houses_slider");
var houses_display = $("#houses_display");
var houses_value = $("#houses_value");

var fields_slider = $("#fields_slider");
var fields_display = $("#fields_display");
var fields_value = $("#fields_value");

var pastures_slider = $("#pastures_slider");
var pastures_display = $("#pastures_display");
var pastures_value = $("#pastures_value");

var mills_slider = $("#mills_slider");
var mills_display = $("#mills_display");
var mills_value = $("#mills_value");

var mines_slider = $("#mines_slider");
var mines_display = $("#mines_display");
var mines_value = $("#mines_value");

var forts_slider = $("#forts_slider");
var forts_display = $("#forts_display");
var forts_value = $("#forts_value");

var stables_slider = $("#stables_slider");
var stables_display = $("#stables_display");
var stables_value = $("#stables_value");

var guilds_slider = $("#guilds_slider");
var guilds_display = $("#guilds_display");
var guilds_value = $("#guilds_value");


function updateGold() {
    goldCost.innerHTML = 0 + houses_slider.val() * 50 +
    fields_slider.val() * 50 + pastures_slider.val() * 50 +
    mills_slider.val() * 50 + mines_slider.val() * 65 +
    forts_slider.val() * 100 + stables_slider.val() * 40 +
    guilds_slider.val() * 50;
}

function updateWood() {
    woodCost.innerHTML = 0 + houses_slider.val() * 25 +
    fields_slider.val() * 5 + pastures_slider.val() * 5 +
    mills_slider.val() * 20 + mines_slider.val() * 15 +
    forts_slider.val() * 75 + stables_slider.val() * 20 +
    guilds_slider.val() * 25;
}

function updateCosts() {
    updateGold();
    updateWood();
    var gold = parseInt(goldCost.innerHTML);
    if (gold > 408) {
        goldCost.style.color = "red";
    } else {
        goldCost.style.color = "green";
    }
    var wood = parseInt(woodCost.innerHTML);
    if (wood > 70) {
        woodCost.style.color = "red";
    } else {
        woodCost.style.color = "green";
    }
    if (gold <= 408 && wood <= 70) {
        submitButton.disabled = false;
    } else {
        submitButton.disabled = true;
    }
}


houses_slider.change(function () {
    houses_display.innerHTML = $(this).val();
    houses_value.value = $(this).val();
    updateCosts();
});

fields_slider.change(function () {
    fields_display.innerHTML = $(this).val();
    fields_value.value = $(this).val();
    updateCosts();
});

pastures_slider.change(function () {
    pastures_display.innerHTML = $(this).val();
    pastures_value.value = $(this).val();
    updateCosts();
});

mills_slider.change(function () {
    mills_display.innerHTML = $(this).val();
    mills_value.value = $(this).val();
    updateCosts();
});

mines_slider.change(function () {
    mines_display.innerHTML = $(this).val();
    mines_value.value = $(this).val();
    updateCosts();
});

forts_slider.onchange = function () {
    forts_display.innerHTML = $(this).val();
    forts_value.value = $(this).val();
    updateCosts();
};

stables_slider.onchange = function () {
    stables_display.innerHTML = $(this).val();
    stables_value.value = $(this).val();
    updateCosts();
};

guilds_slider.onchange = function () {
    guilds_display.innerHTML = $(this).val();
    guilds_value.value = $(this).value;
    updateCosts();
};
</script>
{% endblock %}

