{% extends "mobile/gameplay/layout.html" %}

{% block title %}Infrastructure: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.2em 5px;
}

#header {
    width: 310px;
    margin: auto;
}

h2 {
    margin: 0 1em 0.3em;
}

input {
    padding: 0;
}

button {
    width: 90%;
    border-radius: 4px;
    padding: 0.3em;
    margin-top: 0.3em;
}

#tableForm {
    display: flex;
    justify-content: center;
}

#productionTable {     /* The tables which display your infrastructure/military and let you build */
    width: 100%;
    max-width: 500px;
    border: 1px solid;
}

#productionTable th, td {
    border: 1px dotted;
    padding:4px;
}

#productionTable td:first-child {
    width: 40%;
    max-width: 100px;
}

.costDiv {
    width: 100%;
    min-width: 200px;
}

th {
    font-weight: bold;
    font-size: 1.3em;
}

.tab {
    margin-left: 0.5em;
}
.tooltip-mobile {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-mobile .tooltip-text-mobile {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-mobile:hover .tooltip-text-mobile {
    visibility: visible;
}

.select {
    padding: 0.8em;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-align {
    margin-right: auto;
}

#idle-pop-div {
    margin: 1em 0 1.6em;
    padding: 0 1em 0;
}

.other-select {
    padding: 0.8em;
    border-radius: 5px;
}
</style>
{% endblock %}

{% set dynamic_cost %}
{% set county = current_user.county %}
<div class="costDiv">
  Gold Cost: <span class="goldCost">0</span>
  <img class="resource_icons" src="/static/images/gold_icon.jpg"> / {{ county.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg"><br>
  Wood Cost: <span class="woodCost">0</span>
  <img class="resource_icons" src="/static/images/wood_icon.jpg"> / {{ county.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg"><br>
  Land Required: <span class="landCost">0</span>&nbsp;/&nbsp;{{ county.get_available_land() }}
  <br><br>
  Each day, up to {% if county.background == "Engineer" %}5{% else %}3{% endif %} buildings in your queue will be built.
  <br>
</div>
{% endset %}

{% set select_field %}
<select class="select">
  {% for n in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20] %}
   <option value="{{ n }}">{{ n }}</option>
  {% endfor %}
</select>
{% endset %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="content">
  <div id="header">
    <h2>Available Land: <span id="avaiableLand">{{ county.get_available_land() }}</span>&nbsp;/&nbsp;{{ county.land }}</h2>
    <h2>Citizens Avaiable: {{ county.get_available_workers() }}&nbsp;/&nbsp;{{ county.population }}</h2>
    <h2>Current Resources:
      <br>
      <span class="tab">
      <span id="totalGold">{{ county.gold }}</span> <img class="resource_icons" src="/static/images/gold_icon.jpg">
      <span id="totalWood">{{ county.wood }}</span> <img class="resource_icons" src="/static/images/wood_icon.jpg">
      {{ county.iron }} <img class="resource_icons" src="/static/images/iron_icon.jpg">
      </span>
    </h2>
  </div>
  <div class="column max-width-400" id="idle-pop-div">
    <p class="left-align">You may assign a task to your idle population. </p>
    <div class="top-spacer-dot-6"></div>
    <form id="" action="{{ url_for("infrastructure") + "?id=excess" }}" method="POST" accept-charset="UTF-8">
        {{ excess_worker_form.csrf_token }}
        {{ excess_worker_form.goal(class="other-select width-100-percent") }}
        <button class="width-100-percent" type="submit" id="choiceSubmit">Update</button>
    </form>
    <div class="invisible">
      <span id="goldProduced">{{ county.get_excess_production_value(0) }}</span>
      <span id="landProduced">{{ county.get_excess_production_value(1) }}</span>
      <span id="landReclaimed">{{ county.produce_land }}</span>
      <span id="foodProduced">{{ county.get_excess_production_value(2) }}</span>
      <span id="happinessProduced">{{ county.get_excess_production_value(3) }}</span>
    </div>
    <span id="excessProductionDescription" class="top-spacer-dot-6"></span>
  </div>
  <br>
  <form id="tableForm" action="{{ url_for("infrastructure") + "?id=build" }}" method="POST" accept-charset="UTF-8">
    {{ build_form.csrf_token }}
    <table id="productionTable">
      <tbody>
      {% for building in county.buildings.values() %}
      <tr>
        <th colspan="2">{{ building.class_name.title() }}</th>
      </tr>
      <tr>
        <td>Owned</td>
        <td>{{ building.total }}</td>
      </tr>
      <tr>
        <td>Under Construction</td>
        <td>{{ building.pending }}</td>
      </tr>
      <tr>
        <td>To Be Built</td>
        <td>
          {{ dynamic_cost }}
          {{ select_field }}
          <input class="value" name="{{ building.base_name }}" value="0" hidden/>
          <button class="submitButton" type="submit">Build <span class="display">0</span></button>
        </td>
      </tr>
      <tr>
        <td>Cost</td>
        <td>
          <span class="buildingGoldCost">{{ building.gold_cost }}</span><img class="resource_icons" src="/static/images/gold_icon.jpg">
          <span class="buildingWoodCost">{{ building.wood_cost }}</span><img class="resource_icons" src="/static/images/wood_icon.jpg">
        </td>
      </tr>
      <tr>
        <td>Workers Employed</td>
        <td>{{ building.workers_employed * building.total }} ({{ building.workers_employed }} each)</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ building.description }}</td>
      </tr>
      {% endfor %}
      <tr style="font-weight:bold;">
        <th colspan="2" style="width:150px;">Total</th>
      </tr>
      <tr>
        <td>Owned</td>
        <td>{{ county.buildings.values()|sum(attribute="total") }}</td>
      </tr>
      <tr>
        <td>Under Construction</td>
        <td>{{ county.buildings.values()|sum(attribute="pending") }}</td>
      </tr>
      <tr>
        <td>To Be Built</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Workers Employed</td>
        <td style="width:150px;">{{ county.get_employed_workers() }}</td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
{{ super() }}
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
var selects = $(".select");
var submitButtons = $(".submitButton");
var goldCosts = $(".goldCost");
var woodCosts = $(".woodCost");
var landCosts = $(".landCost");

var displays = $(".display");
var values = $(".value");
var buildingGoldCosts = $(".buildingGoldCost");
var buildingWoodCosts = $(".buildingWoodCost");
// var buildingLandCosts = $(".buildingLandCost");  // not being used yet.
var totalGold = parseInt($("#totalGold").text());
var totalWood = parseInt($("#totalWood").text());
var avaiableLand = parseInt($("#avaiableLand").text());

function updateGold() {
    goldCosts.each(function (ignore, element) {
        var sum = 0;
        selects.each(function (index, element) {
            sum += element.value * buildingGoldCosts[index].innerHTML;
        });
        element.innerHTML = sum;
    });
}

function updateWood() {
    woodCosts.each(function (ignore, element) {
        var sum = 0;
        selects.each(function (index, element) {
            sum += element.value * buildingWoodCosts[index].innerHTML;
        });
        element.innerHTML = sum;
    });
}

function updateLand() {
    landCosts.each(function (ignore, element) {
        var sum = 0;
        selects.each(function (ignore, element) {
            // at some point the 1 will be a land cost.
            sum += parseInt(element.value) * 1;
        });
        element.innerHTML = sum;
    });
}

function updateCosts() {
    updateGold();
    updateWood();
    updateLand();

    selects.each(function (index) {
        var goldCost = goldCosts[index];
        var woodCost = woodCosts[index];
        var landCost = landCosts[index];
        var gold = parseInt(goldCost.innerHTML);
        var wood = parseInt(woodCost.innerHTML);
        var land = parseInt(landCost.innerHTML);

        if (gold > totalGold) {
            goldCost.style.color = "red";
        } else {
            goldCost.style.color = "green";
        }

        if (wood > totalWood) {
            woodCost.style.color = "red";
        } else {
            woodCost.style.color = "green";
        }

        if (land > avaiableLand) {
            landCost.style.color = "red";
        } else {
            landCost.style.color = "green";
        }

        if (gold <= totalGold && wood <= totalWood && land <= avaiableLand) {
            submitButtons[index].disabled = false;
        } else {
            submitButtons[index].disabled = true;
        }
    });
}


selects.each(function (index, element) {
    $(element).change(function () {
        displays[index].innerHTML = $(element).val();
        values[index].value = $(element).val();
        updateCosts();
    });
});

var goalChoice = $("#goal");
var goalDescription = $("#excessProductionDescription");
var goldProduced = $("#goldProduced").text();
var landProduced = $("#landProduced").text();
var landReclaimed = $("#landReclaimed").text();
var foodProduced = $("#foodProduced").text();
var happinessProduced = $("#happinessProduced").text();

// This data should be listed in the metatdata somewhere.
function updateGoals() {
    if (goalChoice.val() === "0") {
        goalDescription.text(
            "Your idle citizens will be forced to work, " +
            "earning your county an additional " + foodProduced +
            " gold per day."
        );
    } else if (goalChoice.val() === "1") {
        goalDescription.html(
            "Your idle citizens will be forced to reclaim " +
            "overgrown land surrounding your county.<br>You are currently " +
            landReclaimed + " / 2000 square meters towards reclaiming an " +
            "acre. You will advance " + landProduced +
            " square meters each day."
        );
    } else if (goalChoice.val() === "2") {
        goalDescription.text(
            "Your idle citizens will be forced to forage " +
            "for food, gaining enough for " + foodProduced +
            " people each day."
        );
    } else if (goalChoice.val() === "3") {
        goalDescription.html(
            "Your idle citizens will be allowed to relax,<br>" +
            "gaining " + happinessProduced + " happiness per day."
        );
    }
}

goalChoice.change(function () {
    updateGoals()
});

// Pull chat date once page loads
$(document).ready(updateGoals());
</script>
{% endblock %}

