{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobileStyle.css') }}">
<style type="text/css">
/* The main sidebar which is always visible when logged in */
.mobile-sidebar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.5em;
	margin: 0 1em 0.5em;
}

nav > div > span > a,
nav > div > a,
nav > a {
	margin: 0.1em;
	border: double;
	border-width: 0.05em;
	border-color: gray;
	border-radius: 0.2em;
	text-decoration: none;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reset {
  margin: auto;
}

.nav-center {
  justify-content: center;
}
</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
{% set preferences = user.preferences %}
<nav class="mobile-sidebar">
  <hr class="width-100-percent">
  <a href="{{ url_for('overview') }}">County&nbsp;Overview</a>
  <div class="top-spacer-dot-3 flex-group">
    <h2 class="nav-center width-100-percent reset">
      Advisors
    </h2>
    <a href="{{ url_for('economy') }}">Economist</a>
    <a href="{{ url_for('infrastructure') }}">City&nbsp;Planner</a>
    <a href="{{ url_for('military') }}">War</a>
    <a href="{{ url_for('infiltration') }}">Thieves&nbsp;Guild</a>
    <a href="{{ url_for('casting', target_id=county.id) }}">Wizard&nbsp;Council</a>
    <a href="{{ url_for('research') }}">Scientist</a>
  </div>
  <div class="top-spacer-dot-3 flex-group">
    <h2 class="nav-center width-100-percent reset">
      Diplomacy
    </h2>
    <a href="{{ url_for('trading') }}">Trades</a>
    <a href="{{ url_for('messages') }}" {% if preferences.has_mail() %}style="color:blue;font-weight:bold;"{% endif %}>Messages</a>
    <a href="{{ url_for('chatroom') }}" {% if preferences.has_new_townhall_message() %}style="color:blue;font-weight:bold;"{% endif %}>Town&nbsp;Hall</a>
    <a href="{{ url_for('kingdom', kingdom_id=kingdom.id) }}">Kingdom&nbsp;Overview</a>
    {% if kingdom.leader != 0 %}
      <span class="top-spacer-dot-3">
        <img class="resource_icons" src="/static/dist/images/crown_icon.jpg"><a href="{{ url_for('royal_court') }}">Royal&nbsp;Court</a>
      </span>
    {% endif %}
  </div>
  <div class="top-spacer-dot-3 flex-group">
    <h2 class="nav-center width-100-percent reset">
      About the Game
    </h2>
    <a href="{{ url_for('achievements') }}">Achievements</a>
    <a href="{{ url_for('forum', thread_id=0, post_id=0) }}">Forum</a>
    <a href="{{ url_for('guide') }}">Player&nbsp;Guide</a>
    <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
    <a href="{{ url_for('profile', tab='basic') }}">Profile</a>
    {% if user.is_admin %}<a href="{{ url_for('admin.home_api') }}">Admin</a>{% endif %}
  </div>
  <div class="top-spacer-dot-3" />
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %}
