{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobileStyle.css') }}">
<style type="text/css">
/* The main sidebar which is always visible when logged in */
.mobile-sidebar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.5em;
	margin: 0 1em 0.5em;
}

nav > a {
	margin: 0.1em;
	border: double;
	border-width: 0.05em;
	border-color: gray;
	border-radius: 0.2em;
	text-decoration: none;
}
</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<nav class="mobile-sidebar">
	<a href="{{ url_for('overview', kingdom_id=0, county_id=0) }}">County&nbsp;Overview</a>
	<a href="{{ url_for('economy') }}">Economy</a>
	<a href="{{ url_for('infrastructure') }}">Infrastructure</a>
	<a href="{{ url_for('military') }}">Military</a>
	<a href="{{ url_for('infiltration') }}">Infiltration</a>
	<a href="{{ url_for('casting', target_id=county.id) }}">Wizard Council</a>
	<a href="{{ url_for('messages') }}" {% if has_mail %}style="color:blue;font-weight:bold;"{% endif %}>Inbox</a>
	<a href="{{ url_for('chatroom_api') }}">Town&nbsp;Hall</a>
	<a href="{{ url_for('kingdom', kingdom_id=kingdom.id) }}">Kingdom&nbsp;Overview</a>
	{% if kingdom.leader != 0 %}
		<br>
		<img class="resource_icons" src="/static/images/crown_icon.jpg">
		<a href="{{ url_for('royal_court') }}">Royal Court</a>
	{% endif %}
	<br>
	<a href="{{ url_for('achievements') }}">Achievements</a>
	<a href="{{ url_for('forum', thread_id=0, post_id=0) }}">Forum</a>
	<a href="{{ url_for('guide') }}">Player&nbsp;Guide</a>
	<a href="{{ url_for('leaderboard') }}">Leaderboard</a>
	<a href="{{ url_for('profile') }}">Profile</a>
	{% if user.is_admin %}<a href="{{ url_for('admin.home_api') }}">Admin</a>{% endif %}
	<a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %}
