{% extends "mobile/gameplay/layout.html" %}
{% set user = current_user %}
{% set county = current_user.county %}

{% block title %}Overview: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
	margin: 1.2em 2em;
}
h1 {
	padding-bottom: 0.4em;
	text-align: center;
}

h2 {
	padding-bottom: 0.3em;
}

button {
	width: 100%;
  height: 2.3em;
	border-radius: 4px;
}
</style>
{% endblock %}

{% block content1 %}
<div id="content">
	<h1>{{ county.name }}</h1>
	<ul>
		<li>Leader: {{ county.leader }} ({{ county.gender }})</li>
		<li>Race: {{ county.race }}</li>
		<li>Title: {{ county.title }}</li>
		<li>Land: {{ county.land }} acres</li>
		<li>Calendar: Day {{ county.kingdom.world.day }} (This round of testing will end on day 168)</li>
		<li>Stored Grain: {{ county.grain_stores }} <img class="resource_icons" src="/static/images/grain_icon.jpg"></li>
		<li>Coffers: {{ county.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg"></li>
		<li>Population: {{ county.population }} <img class="resource_icons" src="/static/images/population_icon.jpg"></li>
		<li>Happiness: {{ county.happiness_terminology.title() }}</li>
		<li>Nourishment: {{ county.nourishment_terminology.title() }}</li>
		<li>Weather: {{ county.weather.title() }}</li>
	</ul>
	<br>
	<h2>News</h2>
	<ul>
		{% for event in county.display_news()|sort(attribute='day', reverse=True) %}
		<li>{{ event.title }} (Day: {{ event.day }}): {{ event.content }}</li>
		{% else %}
		<li>No new events to report.</li>
		{% endfor %}
	</ul>
	<br>
	<button onclick="oldNewsDisplay()">Show Old News</button>
	<div id="oldNews" style="display:none;">
		<br>
		<ul>
			{% for event in county.display_old_news()|sort(attribute='day', reverse=True) %}
			<li>{{ event.title }} (Day: {{ event.day }}): {{ event.content }}</li>
			{% else %}
			<li>There is no news in your history.</li>
			{% endfor %}
		</ul>
	</div>
</div>
{{ super() }}
{% endblock %}

{% block script %}
<script type="text/javascript">
function oldNewsDisplay() {
  var x = document.getElementById("oldNews");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}
