#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

h1 {
    margin-bottom: 0.6em;
}

#header {
    width: 100%;
    max-width: 320px;
    margin-bottom: 1em;
}

.tooltip-mobile {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-text-mobile {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip, override last three values.*/
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -195px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-mobile:hover .tooltip-text-mobile {
    visibility: visible;
}

form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
}

button {
		width: 100%;
}
