h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 60px;
  height: 40px;
}

input, textarea {
  padding: 1em;
}

select {
  padding: 0.8em;
  border-radius: 5px;
}

button {
  background-color: #FFD700;
  color: #000000;
  font-weight: 900;
  cursor: pointer;
  height: 2.6em;
  min-width: 8em;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

button:active {
  position: relative;
  top: 1px;
}

button[disabled], button[disabled]:active {
  background-color: #DCDCDC;
  position: static;
  top: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 0.3em;
}

td {
  vertical-align: bottom;
  border: 1px solid #ddd;
  padding: 0.3em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.total-row {
  font-weight: bold;
  height: 2.6em;
}

.resource_icons {
    height: 20px;
    width: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.max-width-1 {
  max-width: 19em;
}

.max-width-2 {
    max-width: 25em;
}

.max-width-3 {
    max-width: 32em;
}

.top-spacer-1 {
    margin-top: 1em;
}

.top-spacer-dot-6 {
    margin-top: 0.6em;
}

.top-spacer-dot-3 {
    margin-top: 0.3em;
}

.bottom-spacer-2 {
    margin-bottom: 2em;
}

.bottom-spacer-1 {
    margin-bottom: 1em;
}

.bottom-spacer-dot-6 {
    margin-bottom: 0.6em;
}

.bottom-spacer-dot-3 {
    margin-bottom: 0.3em;
}

.width-100-percent {
    width: 100%;
}

.width-95-percent {
    width: 95%;
}

.border-dotted {
    border: dotted 1px;
}

.tab-1 {
    margin-left: 1em;
}

.tab-2 {
  margin-left: 2em;
}

.hanging-indent {
    padding-left: 1em;
    text-indent: -1em;
}

.invisible {
    display: none;
}

.center {
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.disabled {
  background: #DCDCDC;
}

.background-white {
    background: white;
}

.background-alt {
    background-color: #f2f2f2;
}
