{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

Achievement Points: 0
<h1>Lifetime Achievements Across All Ages:</h1><br><br>
<ul>
    {% for achievement in achievements %}
    <li>
        <h2>{{ achievement.category_name }}:</h2>
        <h3>{{ achievement.description }}</h3>
        <p>Current progress: {{ achievement.current_level }} / {{ achievement.get_max_level() }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
