{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}

<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}

    {% if the_thread == 'None' %}  <!-- Show list of all threads -->
    <h1>Forum</h1>
    <table style="border:dotted 1px;">
        <tr>
            <th>Thread</th>
            <th>Author</th>
            <th>Most Recent Post</th>
            <th>Number of Posts</th>
        </tr>
        {% for thread in forum.threads %}
        <tr>
            <td><a href="{{ url_for('forum', thread_id=thread.id, post_id=0) }}">{{ thread.title }}</a></td>
            <td>{{ thread.get_author() }}</td>
            <td>{{ thread.get_most_recent_post() }}</td>
            <td>{{ thread.get_post_count() }}</td>
        </tr>
        {% endfor %}
    </table>
    {% elif the_post == 'None' %}  <!-- Show list of all posts in that thread -->
    <h1>{{ the_thread.title }}</h1><br>
    <table style="border:dotted 1px;">
        <tr>
            <th>Post</th>
            <th>Author</th>
            <th>Most Recent Post</th>
            <th>Number of Replies</th>
        </tr>
        {% for post in the_thread.posts if post.parent_post_id == 0 %}
        <tr>
            <td><a href="{{ url_for('forum', thread_id=the_thread.id, post_id=post.id) }}">{{ post.title }}</a></td>
            <td>{{ post.get_author() }}</td>
            <td>{{ post.time_created }}</td>
            <td>{{ post.get_reply_count() }}</td>
        </tr>
        {% else %}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <h2>Create New Thread</h2>
    <ul>
        <li style="margin-top:5px;">{{ render_field(form.title, placeholder="Title", autofocus="") }}</li>
        <textarea cols="100" rows="10" type="text" name="message" placeholder="Content"></textarea>
    </ul>
    <br><br>
    <button type="submit">Create Post</button>
    <br><br>
    <a href="{{ url_for('forum', thread_id=0, post_id=0) }}">Return to forum home.</a>
    {% else %}  <!-- Show list of all replies in that post -->
    <ul>
        <li>
            <div>
                <h1>
                    {{ the_post.title }}
                    <a href="{{ url_for('upvote', thread_id=the_thread.id, post_id=the_post.id) }}">
                        {% if the_post.get_vote_status(current_user.id) %}
                        <img class="resource_icons" src="/static/images/upvote.jpg">
                        {% else %}
                        <img class="resource_icons" src="/static/images/downvote.jpg">
                        {% endif %}
                    </a>
                </h1>
                <h3>{{ the_post.content }}</h3>
                <h3>By: {{ the_post.get_author() }} at {{ the_post.time_created }} with {{ the_post.get_votes() }} votes</h3>
            </div>
        </li>
        {% for reply in the_post.get_replies() %}
        <li><br></li>
        <li>
            <div>
                <h3>
                    Reply {{ loop.index }} at {{ reply.time_created }}
                    <a href="{{ url_for('upvote', thread_id=the_thread.id, post_id=reply.id) }}">
                        {% if reply.get_vote_status(current_user.id) %}
                        <img class="resource_icons" src="/static/images/upvote.jpg">
                        {% else %}
                        <img class="resource_icons" src="/static/images/downvote.jpg">
                        {% endif %}
                    </a>
                </h3>
                <h3>{{ reply.content }}</h3>
                <h3 style="font-weight:bold;">By: {{ reply.get_author() }} with {{ reply.get_votes() }} votes</h3>
            </div>
        </li>
        {% endfor %}
        <br><br>
        <textarea cols="100" rows="10" type="text" name="message" placeholder="Type your post here"></textarea>
        <br><br>
        <button type="submit">Reply to Post</button>
        <br><br>
        <a href="{{ url_for('forum', thread_id=the_thread.id, post_id=0) }}">Return to {{ the_thread.title }}</a>
    </ul>
    {% endif %}
</form>

{% endblock %}