{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}

<h1>Forum</h1>

{% if the_thread == 'None' %}
<table>
    <tr>
        <th>Thread</th>
        <th>Author</th>
        <th>Most Recent Post</th>
        <th>Number of Posts</th>
    </tr>
    {% for thread in forum.threads %}
    <tr>
        <td><a href="{{ url_for('forum', thread_id=thread.id) }}">{{ thread.title }}</a></td>
        <td>{{ thread.user_id }}</td>
        <td>{{ thread.get_most_recent_post() }}</td>
        <td>{{ thread.get_post_count() }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<table>
    <tr>
        <th>Post</th>
        <th>Author</th>
        <th>Most Recent Post</th>
        <th>Number of Posts</th>
    </tr>
    {% for post in thread.posts %}
    <tr>
        <td><a href="{{ url_for('forum', thread_id=thread.id) }}">{{ post.title }}</a></td>
        <td>{{ post.user_id }}</td>
        <td>{{ post.time_created }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    {{ render_field(form.title, placeholder="Title", autofocus="") }}
    {{ render_field(form.message, placeholder="Message content") }}
    <br><br>
    <button type="submit">Post</button>
</form>
{% endif %}

{% endblock %}