{% extends "gameplay/layout.html" %}
{% block content2 %}

<br><br>
<h1>Alpha Testing Leaderboard</h1>
<br>
<h2>Current Age:</h2>
*Score is currently based on: land*10 + population*0.5 + your offensive/defensive power (whichever is higher)*
<ul>
    {% for user in users %}
    {% if user.county %}
    <li>{{ user.username }}: {{ user.get_current_leaderboard_score() }}</li>
    {% endif %}
    {% endfor %}
</ul>
<br>
<h2>Previous Ages:</h2>
<ul>
    {% for user in users|sort(attribute='alpha_wins', reverse=True) %}
    <li>&emsp;{{ user.username }}: {{ user.alpha_wins }} (Rounds played: {{ user.ages_completed }})</li>
    {% endfor %}
</ul>
<br>
<h1>Total Rounds Completed: {{ users[0].county.kingdom.world.day - 1 }}</h1>

{% endblock %}
