{% extends "gameplay/layout.html" %}

{% block title %}Leaderboard: {{ super() }}{% endblock %}

{% block content2 %}

<br><br>
<h1>Alpha Testing Leaderboard</h1>
<br>
<h2>Current Age (Day {{ current_user.county.kingdom.world.day }} / 168):</h2><br>
<ul>
    {% for user in users %}
    {% if user.county and user.is_bot != True %}
    <li><a href="{{ url_for('enemy_overview', kingdom_id=user.county.kingdom.id, county_id=user.county.id) }}">{{ user.county.title }} {{ user.county.leader }} of {{ user.county.name }}</a>: {{ user.get_current_leaderboard_score() }}</li>
    {% endif %}
    {% endfor %}
</ul>
<br>
<h2>All Time Best:</h2><br>
<ul>
    {% for user in users|sort(attribute='alpha_wins', reverse=True) %}
    {% if user.county and user.is_bot != True %}
    <li><a href="{{ url_for('enemy_overview', kingdom_id=user.county.kingdom.id, county_id=user.county.id) }}">{{ user.county.title }} {{ user.county.leader }} of {{ user.county.name }}</a>: {{ user.alpha_wins }} (Rounds played: {{ user.ages_completed }})</li>
    {% endif %}
    {% endfor %}
</ul>
<br>
<h2>Total Rounds Completed: {{ users[0].county.kingdom.world.age }}</h2>

{% endblock %}
