{% extends "gameplay/layout.html" %}

{% block title %}Leaderboard: {{ super() }}{% endblock %}

{% block content2 %}

<br><br>
<h1 style="text-align:center;">Current Age</h1>
<br>
<h2>(Kingdom) Most Wars Won:</h2>
<ul>
{% for kingdom in kingdoms|sort(attribute='wars_won_ta', reverse=True) %}
    <li {% if kingdom == current_user.county.kingdom %}style="font-weight:bold;"{% endif %}><a href="{{ url_for('kingdom', kingdom_id=kingdom.id) }}">{{ kingdom.name }}</a>: {{ kingdom.wars_won_ta }}</li>
{% endfor %}
</ul>
<p style="color:green;">Rewards: Every county in the top kingdom of this category gets 1 gem.</p>
<br>
<h2>(Kingdom) Most Land (Top 3 Counties):</h2>
<ul>
{% for kingdom in kingdoms|sort(attribute='total_land_of_top_three_counties', reverse=True) %}
    <li {% if kingdom == current_user.county.kingdom %}style="font-weight:bold;"{% endif %}><a href="{{ url_for('kingdom', kingdom_id=kingdom.id) }}">{{ kingdom.name }}</a>: {{ kingdom.total_land_of_top_three_counties }}</li>
{% endfor %}
</ul>
<p style="color:green;">Rewards: Every county in the top kingdom of this category gets 1 gem.</p>
<br>
<h2>(County) Most Land:</h2>
<ul>
{% for county in counties|sort(attribute='land', reverse=True) %}
    <li {% if county == current_user.county %}style="font-weight:bold;"{% endif %}><a href="{{ url_for('enemy_overview', county_id=county.id) }}">
        {{ county.leader }} of {{ county.name }}
        </a>: {{ county.land }}
    </li>
{% endfor %}
</ul>
<p style="color:green;">Rewards: The top county in this category gets 1 gem.</p>
<br>

<h1 style="text-align:center;">All Time Best (Rounds completed: {{ counties[0].kingdom.world.age }})</h1>

<br>
<h2>(Kingdom) Most Wars Won:</h2>
<ul>
{% for kingdom in kingdoms|sort(attribute='wars_won_lt', reverse=True) %}
    <li {% if kingdom == current_user.county.kingdom %}style="font-weight:bold;"{% endif %}><a href="{{ url_for('kingdom', kingdom_id=kingdom.id) }}">{{ kingdom.name }}</a>: {{ kingdom.wars_won_ta }}</li>
{% endfor %}
</ul>
<br>
<h2>(User) Most Gems:</h2>
<ul>
{% for user in users|sort(attribute='gems', reverse=True) %}
    <li {% if user == current_user %}style="font-weight:bold;"{% endif %}><a href="{{ url_for('enemy_overview', county_id=user.county.id) }}">
        {{ user.county.leader }} of {{ user.county.name }}
        </a>: {{ user.gems }}
    </li>
{% endfor %}
</ul>
<br>
<h2>(User) Most Achievement Points:</h2>
<ul>
{% for user in users|sort(attribute='achievement_points', reverse=True) %}
    <li {% if user == current_user %}style="font-weight:bold;"{% endif %}><a href="{{ url_for('enemy_overview', county_id=user.county.id) }}">
        {{ user.county.leader }} of {{ user.county.name }}
        </a>: {{ user.achievement_points }}
    </li>
{% endfor %}
</ul>
{% endblock %}
