{% extends "gameplay/layout.html" %}

{% block title %}Profile: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    margin-top: 1em;
    max-width: 50em;
}

#left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-column {
    margin: 6.1em 1em;
    min-width: 400px;
}

.bottom-spacer-1 {
    margin-bottom: 1em;
}

#body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

button {
    width: 100%;
    margin-bottom: 0.6em;
}

.top-spacer-1 {
    margin-top: 1em;
}

#response-box {
    padding: 0.6em;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    min-width: 500px;
    min-height: 2.6em;
}

pre {
    margin-top: 0.2em;
}

input {
    width: 100%;
}
</style>
{% endblock %}

{% block content2 %}

{% if tab == 'basic' %}

  <h1 style="text-align:center;">Profile</h1>
  <h2>Username: {{ user.username }}</h2>
  <h2>Email: {{ user.email }} <!-- {% if user.is_verified %}(verified){% else %}(not verified){% endif %} --></h2>
  <h2>Ages Completed: {{ user.ages_completed }}</h2>
  <h2>Achievement Points: {{ user.achievement_points }}</h2>
  <h2>Gems: {{ user.gems }} (will be used to unlock Kingdom aesthetic bonuses and avatars)</h2>
  <h2>Last Login: {{ user.get_previous_session() }}</h2>
  <h2>Account Created: {{ user.time_created }}</h2>

{% elif tab == 'security' %}

  <h1 style="text-align:center;">Security</h1>

  <form id="password_form" method="POST" accept-charset="UTF-8" action="{{ url_for('profile', tab='security') }}">
    {{ password_form.csrf_token }}
    {{ render_field(password_form.old_password, placeholder="Old password", autofocus="") }}
    {{ render_field(password_form.new_password, placeholder="New password") }}
    {{ render_field(password_form.retype_new_password, placeholder="Retype new password") }}
    <button type="submit">Update Password</button>
  </form>

{% elif tab == 'email' %}

  <h1 style="text-align:center;">Email</h1>

  <form id="email_form" method="POST" accept-charset="UTF-8" action="{{ url_for('profile', tab='email') }}">
    {{ email_form.csrf_token }}
    {{ render_field(email_form.email, placeholder="New email address", autofocus="") }}
    {{ render_field(email_form.password, placeholder="Password") }}
    <button type="submit">Update Email</button>
  </form>

{% endif %}

<br>
<ul>Tabs:</ul>
<li><a href="{{ url_for('profile', tab='basic') }}">Basic Settings</a></li>
<li><a href="{{ url_for('profile', tab='email') }}">Email</a></li>
<li><a href="{{ url_for('profile', tab='security') }}">Security</a></li>


{% endblock %}

