{% extends "gameplay/layout.html" %}
{% block content2 %}

<br><br>
<h1>New Updates in Version 0.0.03!</h1>
<br>
<h2>New Infiltration mechanic</h2>
<ul>
    <li>You now get 1 thief per thieves guild</li>
    <li>You can send thieves on various missions: stealing gold, burning crops, spying</li>
    <li>Thieves not on active missions will protect against enemy thieves</li>
</ul>
<h2>Inbox System</h2>
<ul>
    <li>You will now be able to send messages to other players directly</li>
</ul>
<h2>New Racial Features</h2>
<ul>
    <li>Each race will have several strengths/weaknesses, as well as different troop types</li>
    <li>The county creation page will give some detail about races</li>
</ul>
<h2>Balance Changes</h2>
<ul>
    <li>Land gained from attacking is now proportional to your land. So attacking counties weaker than you gains very little land.</li>
    <li>Hunger has become more meaningful.</li>
    <li>Excess production now gives much less gold</li>
</ul>
<h2>Quality of Life Changes</h2>
<ul>
    <li>Added happiness and hunger breakdowns to the economy page so you can better manage your county</li>
    <li>Attack page now lets you select troops in 10% increments, rather than listing every possible number of troops</li>
    <li>Chatroom (Townhall) now auto-refreshes every few seconds and is more user-friendly</li>
</ul>
<h2>Bug Fixes</h2>
<ul>
    <li>You can no longer attack yourself (not sure why anyone was trying to do that!)</li>
</ul>

<br><br><br>

<h1>Updates Planned for Next Version</h1>
<br>
<ul>
    <li>TBA</li>
</ul>
<br>

{% endblock %}
