{% extends "gameplay/layout.html" %}
{% block content2 %}

<br><br>
<h1>New Updates in Version 0.0.02!</h1>
<br>
<h2 style="font-weight:bold;">Balance changes:</h2>
<ul>
    <li>Men-at-arms/Miners are more expensive and others are better</li>
    <li>All troops have higher gold upkeep</li>
    <li>All food buildings produce more food, but dairy takes more workers to run</li>
    <li>Training troops now reduces county happiness</li>
</ul>
<br>
<h2 style="font-weight:bold;">Bug fixes:</h2>
<ul>
    <li>Troops should no longer go negative</li>
    <li>Thief reports should no longer be repeated</li>
    <li>Each day only a small number of troops can finish training</li>
    <li>Changing rations now properly affects hunger</li>
    <li>Townhall chatroom will no longer get erased and should be permanent each age</li>
</ul>
<br>
<h2 style="font-weight:bold;">Quality of Life changes:</h2>
<ul>
    <li>Attacking a county no longer reveals their defensive power</li>
    <li>Leaderboard added</li>
    <li>New Player guide added but has little content yet</li>
    <li>Added a login bonus for players who don't log in for 12+ hours</li>
</ul>
<br><br><br>
<h1>Updates Planned for Next Version</h1>
<br>
<ul>
    <li>TBA</li>
</ul>
<br>

{% endblock %}
