{% extends "gameplay/layout.html" %}

{% block title %}Merchant: {{ super() }}{% endblock %}

{% block content2 %}

<h2>Merchant<p>
    <h3>I bring mighty fine silks and exotic goods from far away lands. Take a look.</h3>

    <br>
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <br>You offer the merchant  {{ form.offer }} {{ form.offer_resource }}.
    <br><br>In return he offers <span id="receiveAmount">0</span> {{ form.receive_resource }}
    {{ form.receive }}
    <br><br>
    <button type="submit">Trade</button><br>
</form>


<script type="text/javascript">
var offerResource = document.getElementById('offer_resource');
var offerAmount = document.getElementById('offer');
var receiveResource = document.getElementById('receive_resource');
var receiveAmount = document.getElementById('receiveAmount');

var tradeValueDict = {0: 1, 1: 2, 2: 4, 3: 6, 4: 60};

function adjustMerchant() {
    receiveAmount.innerHTML = Math.floor(offerAmount.value * tradeValueDict[receiveResource.value] / tradeValueDict[offerResource.value] / 2);
    receive.value = receiveAmount.innerHTML;
}

offerResource.onchange = function() {
adjustMerchant();
}
offerAmount.onchange = function() {
adjustMerchant();
}
receiveResource.onchange = function() {
adjustMerchant();
}

</script>

{% endblock %}
