#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

h1 {
    margin-bottom: 0.6em;
}

#header {
    width: 100%;
    max-width: 320px;
    margin-bottom: 1em;
}

.tooltip-mobile {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-text-mobile {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip, override last three values.*/
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -195px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-mobile:hover .tooltip-text-mobile {
    visibility: visible;
}

form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
}

button {
		width: 100%;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* word-break: break-all; */
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.max-width-400 {
    max-width: 400px;
}

.max-width-500 {
		max-width: 500px;
}

.top-spacer-1 {
		margin-top: 1em;
}

.top-spacer-point-6 {
    margin-top: 0.6em;
}

.bottom-spacer-1 {
    margin-bottom: 1em;
}

.bottom-spacer-point-6 {
		margin-bottom: 0.6em;
}

.width-100-percent {
		width: 100%;
}

.border-dotted {
    border: dotted 1px;
}

.tab-1 {
		margin-left: 1em;
}
