h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.button {
    width: 60px;
    height: 40px;
}

.sidebar {              /* The main sidebar which is always visible when logged in */
    width: auto;
    height: 750px;
    float: left;
    margin-right: 50px;
    padding: 15px;
    line-height: 30px;
    border: solid;
    font-size: 20px;
}

.production_table {     /* The tables which display your infrastructure/military and let you build */
    width: auto;
    border: 1px solid;
}

.production_table th, td {
    border: 1px dotted;
    padding:4px
}


.resource_icons {
    height: 20px;
    width: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}
