{% extends "layout.html" %}

{% block title %}Initialize: {{ super() }}{% endblock %}

{% block style %}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#header {
    width: 100%;
    max-width: 500px;
}

.info {
    max-width: 400px;
    margin: 1em auto 0;

}

ul {
    padding-left: 0.6em;
}

form {
    width: 100%;
    max-width: 400px;
}

.form-control {
    width: 100%;
    margin-bottom: 4px;
}

.bottomSpacer {
    margin-bottom: 0.6em;
}

select {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}

button {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.data {
    text-align: left;
    padding: 0.5em 1.5em 0;
}
</style>
{% endblock %}

{% set raceDivs %}
<!--Consider building a macro/for loop for these-->
<div id="dwarfDiv" style="display:none;">
  <h1>Dwarves:</h1>
  <ul>
    <li>--- Engineering: +15% Production</li>
    <li>--- Magical Immunity: +15% resistance against enemy spells</li>
    <li>--- Ravenous: +15% food consumption</li>
  </ul>
  <h2>Military:</h2>
  {% for army in dwarf_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/dist/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/dist/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/dist/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
      {% if army.ability != 'None' %}
      <li><span style="font-weight:bold;">{{ army.ability }}</span>: {{ army.ability_description }}</li>
      {% endif %}
    </ul>
  <br>
  {% endfor %}
</div>
<div id="humanDiv" style="display:none;">
  <h1>Humans:</h1>
  <ul>
    <li>--- None</li>
  </ul>
  <h2>Military:</h2>
  {% for army in human_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/dist/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/dist/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/dist/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
      {% if army.ability != 'None' %}
      <li><span style="font-weight:bold;">{{ army.ability }}</span>: {{ army.ability_description }}</li>
      {% endif %}
    </ul>
  <br>
  {% endfor %}
</div>
<div id="elfDiv" style="display:none;">
  <h1>Elves:</h1>
  <ul>
    <li>--- Elders: -15% Population growth</li>
    <li>--- Citizen Militia: Each non-military citizen adds double their normal defensive value</li>
    <li>--- Affinity: +5% effectiveness on any spell cast</li>
  </ul>
  <h2>Military:</h2>
  {% for army in elf_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/dist/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/dist/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/dist/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
      {% if army.ability != 'None' %}
      <li><span style="font-weight:bold;">{{ army.ability }}</span>: {{ army.ability_description }}</li>
      {% endif %}
    </ul>
  <br>
  {% endfor %}
</div>
<div id="goblinDiv" style="display:none;">
  <h1>Goblins:</h1>
  <ul>
    <li>--- Expendable: +15% Population growth</li>
    <li>--- Infighting: -1 Happiness per day</li>
    <li>--- Sneaky: +10% effectiveness on all infiltration missions</li>
  </ul>
  <h2>Military:</h2>
  {% for army in goblin_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/dist/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/dist/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/dist/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
      {% if army.ability != 'None' %}
      <li><span style="font-weight:bold;">{{ army.ability }}</span>: {{ army.ability_description }}</li>
      {% endif %}
    </ul>
  <br>
  {% endfor %}
</div>
<div id="ogreDiv" style="display:none;">
  <h1>Ogres:</h1>
  <ul>
    <li>--- Gigantic: +20% food consumption</li>
    <li>--- Solitary: -25% population growth</li>
    <li>--- Simple-minded: -10% effectiveness at casting and infiltration</li>
  </ul>
  <h2>Military:</h2>
  {% for army in ogre_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/dist/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/dist/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/dist/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
      {% if army.ability != 'None' %}
      <li><span style="font-weight:bold;">{{ army.ability }}</span>: {{ army.ability_description }}</li>
      {% endif %}
    </ul>
  <br>
  {% endfor %}
</div>
{% endset %}

{% set leaderClassDivs %}
<!--Consider building a macro/for loop for these-->
<div id="alchemistDiv" style="display:none;">
  <h1>Alchemist:</h1>
  <ul>
    <li>--- Chemist: Additional technologies available</li>
  </ul>
  <h2>{{ class_descriptions['Alchemist'] }}</h2>
</div>
<div id="artificerDiv" style="display:none;">
  <h1>Artificer:</h1>
  <ul>
    <li>--- Engineer: Your county can build an additional building each day</li>
  </ul>
  <h2>{{ class_descriptions['Artificer'] }}</h2>
</div>
<div id="clericDiv" style="display:none;">
  <h1>Cleric:</h1>
  <ul>
    <li>--- Healer: ???</li>
  </ul>
  <h2>{{ class_descriptions['Cleric'] }}</h2>
</div>
<div id="diplomatDiv" style="display:none;">
  <h1>Diplomat:</h1>
  <ul>
    <li>--- Persuasive: All actions give an additional kingdom relation point</li>
  </ul>
  <h2>{{ class_descriptions['Diplomat'] }}</h2>
</div>
<div id="druidDiv" style="display:none;">
  <h1>Druid:</h1>
  <ul>
    <li>--- Naturalist: All food production gets an additional 10% bonus</li>
  </ul>
  <h2>{{ class_descriptions['Druid'] }}</h2>
</div>
<div id="hierophantDiv" style="display:none;">
  <h1>Hierophant:</h1>
  <ul>
    <li>--- ???: ???</li>
  </ul>
  <h2>{{ class_descriptions['Hierophant'] }}</h2>
</div>
<div id="merchantDiv" style="display:none;">
  <h1>Merchant:</h1>
  <ul>
    <li>--- Silver Tongue: +15% on all income</li>
  </ul>
  <h2>{{ class_descriptions['Merchant'] }}</h2>
</div>
<div id="rogueDiv" style="display:none;">
  <h1>Rogue:</h1>
  <ul>
    <li>--- Master of Disguise: +15% results from infiltrations</li>
  </ul>
  <h2>{{ class_descriptions['Rogue'] }}</h2>
</div>
<div id="warlordDiv" style="display:none;">
  <h1>Warlord:</h1>
  <ul>
    <li>--- Relentless: +10% offensive military strength</li>
    <li>--- Warmonger: No happiness penalty for recruiting soldiers</li>
  </ul>
  <h2>{{ class_descriptions['Warlord'] }}</h2>
</div>
<div id="wizardDiv" style="display:none;">
  <h1>Wizard:</h1>
  <ul>
    <li>--- Loremaster: +10% effectiveness on all spells</li>
  </ul>
  <h2>{{ class_descriptions['Wizard'] }}</h2>
</div>
{% endset %}

{% block content1 %}
<div id="content">
  <div id="header">
    <h2>The king is dead! The kingdom has fallen into civil war.<br><br>Now is your chance to prove to the
    kingdom that you should be the rightful leader.<br><br>Manage your county and strategically secure your position as
    leader of your kingdom. And once you have taken control, lead your kingdom in war to become the greatest that the
    world has ever seen by destroying your neighbours.</h2>
    <p class="info">
      {% if current_user.ages_completed != 0 %}
      Welcome back! A new age has started.<br>Please establish your county to begin.
      {% else %}
      Welcome to the game!<br>To start, please establish your county
      {% endif %}
    </p>
  </div>
  <form id="initForm" method="POST" accept-charset="UTF-8">
    <!-- LoginForm -->
    {{ form.csrf_token }}
    <p class="info bottomSpacer">What is your mighty county known as?</p>
    {{ render_field(form.county, placeholder="Your county's name", autofocus="") }}
    <p class="info bottomSpacer">What is the leader of your county named?</p>
    {{ render_field(form.title, placeholder="Your leader's title") }}
      {{ render_field(form.leader, placeholder="Your leader's name") }}
    <p class="info bottomSpacer">What race of beings inhabit your county?</p>
    {{ render_field(form.race, placeholder="Your leader's race") }}
    {{ raceDivs }}
    <!--Final field!-->
    <p class="info bottomSpacer">What discipline does your leader follow?</p>
    {{ render_field(form.background, placeholder="Your leader's class") }}
    {{ leaderClassDivs }}
    <p class="info bottomSpacer">Would you like to join your clan's kingdom or a random one?</p>
    {{ render_field(form.clan, placeholder="Join Clan") }}
    <button type="submit">Establish county</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
document.getElementById("race").onchange = function () {

    var chosenRace = document.getElementById("race");

    var dwarfDiv = document.getElementById("dwarfDiv");
    var elfDiv = document.getElementById("elfDiv");
    var goblinDiv = document.getElementById("goblinDiv");
    var humanDiv = document.getElementById("humanDiv");
    var ogreDiv = document.getElementById("ogreDiv");

    dwarfDiv.style.display = "none";
    elfDiv.style.display = "none";
    goblinDiv.style.display = "none";
    humanDiv.style.display = "none";
    ogreDiv.style.display = "none";

    if (chosenRace.value === "1") {
        dwarfDiv.style.display = "block";
    } else if (chosenRace.value === "2") {
        elfDiv.style.display = "block";
    } else if (chosenRace.value === "3") {
        goblinDiv.style.display = "block";
    } else if (chosenRace.value === "4") {
        humanDiv.style.display = "block";
    } else if (chosenRace.value === "5") {
        ogreDiv.style.display = "block";
    }
};

document.getElementById("background").onchange = function () {

    var chosenTitle = document.getElementById("background");

    var alchemistDiv = document.getElementById("alchemistDiv");
    var artificerDiv = document.getElementById("artificerDiv");
    var clericDiv = document.getElementById("clericDiv");
    var diplomatDiv = document.getElementById("diplomatDiv");
    var druidDiv = document.getElementById("druidDiv");
    var hierophantDiv = document.getElementById("hierophantDiv");
    var merchantDiv = document.getElementById("merchantDiv");
    var rogueDiv = document.getElementById("rogueDiv");
    var warlordDiv = document.getElementById("warlordDiv");
    var wizardDiv = document.getElementById("wizardDiv");

    alchemistDiv.style.display = "none";
    artificerDiv.style.display = "none";
    clericDiv.style.display = "none";
    diplomatDiv.style.display = "none";
    druidDiv.style.display = "none";
    hierophantDiv.style.display = "none";
    merchantDiv.style.display = "none";
    rogueDiv.style.display = "none";
    warlordDiv.style.display = "none";
    wizardDiv.style.display = "none";

    if (chosenTitle.value === "1") {
        alchemistDiv.style.display = "block";
    } else if (chosenTitle.value === "2") {
        artificerDiv.style.display = "block";
    } else if (chosenTitle.value === "3") {
        clericDiv.style.display = "block";
    } else if (chosenTitle.value === "4") {
        diplomatDiv.style.display = "block";
    } else if (chosenTitle.value === "5") {
        druidDiv.style.display = "block";
    } else if (chosenTitle.value === "6") {
        hierophantDiv.style.display = "block";
    } else if (chosenTitle.value === "7") {
        merchantDiv.style.display = "block";
    } else if (chosenTitle.value === "8") {
        rogueDiv.style.display = "block";
    } else if (chosenTitle.value === "9") {
        warlordDiv.style.display = "block";
    } else if (chosenTitle.value === "10") {
        wizardDiv.style.display = "block";
    }
};
</script>
{% endblock %}
