{% extends "layout.html" %}

{% block title %}Initialize: {{ super() }}{% endblock %}

{% block style %}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#header {
    width: 100%;
    max-width: 500px;
}

.info {
    max-width: 400px;
    margin: 1em auto 0;

}

ul {
    padding-left: 0.6em;
}

form {
    width: 100%;
    max-width: 400px;
}

.form-control {
    width: 100%;
    margin-bottom: 4px;
}

.bottomSpacer {
    margin-bottom: 0.6em;
}

select {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}

button {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.data {
    text-align: left;
    padding: 0.5em 1.5em 0;
}
</style>
{% endblock %}

{% set raceDivs %}
<!--Consider building a macro/for loop for these-->
<div id="dwarfDiv" style="display:none;">
  <h1>Dwarves:</h1>
  <ul>
    <li>--- Engineering: +15% Production</li>
    <li>--- Unending Appetite: Dwarves consume 15% more food each day</li>
  </ul>
  <br>
  <h2>Military:</h2>
  {% for army in dwarf_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
    </ul>
  {% endfor %}
</div>
<div id="humanDiv" style="display:none;">
  <h1>Humans:</h1>
  <ul>
    <li>--- None</li>
  </ul>
  <br>
  <h2>Military:</h2>
  {% for army in human_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
    </ul>
  {% endfor %}
</div>
<div id="elfDiv" style="display:none;">
  <h1>Elves:</h1>
  <ul>
    <li>--- Elders: -15% Population growth</li>
    <li>--- Citizen Militia: Each non-military citizen adds double their normal defensive value</li>
    <li>--- Affinity: +5% chance to successfully cast any spell</li>
  </ul>
  <br>
  <h2>Military:</h2>
  {% for army in elf_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
    </ul>
  {% endfor %}
</div>
<div id="goblinDiv" style="display:none;">
  <h1>Goblins:</h1>
  <ul>
    <li>--- Expendable: +15% Population growth</li>
    <li>--- Infighting: -1 Happiness per day</li>
    <li>--- Sneaky: +5% success rate on all infiltration missions</li>
  </ul>
  <br>
  <h2>Military:</h2>
  {% for army in goblin_armies.values() %}
    <ul>
      <li>Name: {{ army.class_name.title() }}</li>
      <li>Cost: {{ army.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg">,
        {{ army.wood }} <img class="resource_icons" src="/static/images/wood_icon.jpg">,
        {{ army.iron }} <img class="resource_icons" src="/static/images/iron_icon.jpg"></li>
      <li>Attack/Defence/Health: {{ army.attack }}/{{ army.defence }}/{{ army.health }}</li>
    </ul>
  {% endfor %}
</div>
{% endset %}

{% set leaderClassDivs %}
<!--Consider building a macro/for loop for these-->
<div id="merchantDiv" style="display:none;">
  <h1>Merchant:</h1>
  <ul>
    <li>--- Silver Tongue: +15% on all income</li>
  </ul>
</div>
<div id="warlordDiv" style="display:none;">
  <h1>Warlord:</h1>
  <ul>
    <li>--- Relentless: +10% offensive military strength</li>
    <li>--- Warmonger: No happiness penalty for recruiting soldiers</li>
  </ul>
</div>
<div id="wizardDiv" style="display:none;">
  <h1>Wizard:</h1>
  <ul>
    <li>--- Loremaster: +10% chance to cast any spell</li>
  </ul>
</div>
<div id="rogueDiv" style="display:none;">
  <h1>Rogue:</h1>
  <ul>
    <li>--- Master of Disguise: +15% chance to infiltrate enemy counties</li>
    <li>--- Army of Shadows: Can send up to 2 additional thieves per mission</li>
  </ul>
</div>
<div id="engineerDiv" style="display:none;">
  <h1>Engineer:</h1>
  <ul>
    <li>--- Craftsman: Can build an additional building per day</li>
    <li>--- Artisan: Idle workers generate an additional 20% production towards goals</li>
  </ul>
</div>
{% endset %}

{% block content1 %}
<div id="content">
  <div id="header">
    <h2>The king is dead! The kingdom has fallen into civil war.<br><br>Now is your chance to prove to the
    kingdom that you should be the rightful leader.<br><br>Manage your county and strategically secure your position as
    leader of your kingdom. And once you have taken control, lead your kingdom in war to become the greatest that the
    world has ever seen by destroying your neighbours.</h2>
    <p class="info">
      {% if current_user.ages_completed != 0 %}
      Welcome back! A new age has started.<br>Please establish your county to begin.
      {% else %}
      Welcome to the game!<br>To start, please establish your county
      {% endif %}
    </p>
  </div>
  <form id="initForm" method="POST" accept-charset="UTF-8">
    <!-- LoginForm -->
    {{ form.csrf_token }}
    <p class="info bottomSpacer">What is your mighty county known as?</p>
    {{ render_field(form.county, placeholder="Your county's name", autofocus="") }}
    <p class="info bottomSpacer">What is the leader of your county named?</p>
    {{ render_field(form.title, placeholder="Your leader's title") }}
      {{ render_field(form.leader, placeholder="Your leader's name") }}
    <p class="info bottomSpacer">What race of beings inhabit your county?</p>
    {{ render_field(form.race, placeholder="Your leader's race") }}
    {{ raceDivs }}
    <!--Final field!-->
    <p class="info bottomSpacer">What discipline does your leader follow?</p>
    {{ render_field(form.background, placeholder="Your leader's class") }}
    {{ leaderClassDivs }}
    <p class="info bottomSpacer">Would you like to join your clan's kingdom or a random one?</p>
    {{ render_field(form.clan, placeholder="Join Clan") }}
    <button type="submit">Establish county</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
document.getElementById("race").onchange = function () {
    var chosenRace = document.getElementById("race");
    var dwarfDiv = document.getElementById("dwarfDiv");
    var humanDiv = document.getElementById("humanDiv");
    var elfDiv = document.getElementById("elfDiv");
    var goblinDiv = document.getElementById("goblinDiv");
    dwarfDiv.style.display = "none";
    humanDiv.style.display = "none";
    elfDiv.style.display = "none";
    goblinDiv.style.display = "none";
    if (chosenRace.value === "3") {
        dwarfDiv.style.display = "block";
    } else if (chosenRace.value === "1") {
        humanDiv.style.display = "block";
    } else if (chosenRace.value === "2") {
        elfDiv.style.display = "block";
    } else if (chosenRace.value === "4") {
        goblinDiv.style.display = "block";
    }
};

document.getElementById("background").onchange = function () {
    var chosenTitle = document.getElementById("background");
    var merchantDiv = document.getElementById("merchantDiv");
    var warlordDiv = document.getElementById("warlordDiv");
    var wizardDiv = document.getElementById("wizardDiv");
    var rogueDiv = document.getElementById("rogueDiv");
    var engineerDiv = document.getElementById("engineerDiv");
    merchantDiv.style.display = "none";
    warlordDiv.style.display = "none";
    wizardDiv.style.display = "none";
    rogueDiv.style.display = "none";
    engineerDiv.style.display = "none";
    if (chosenTitle.value === "3") {
        merchantDiv.style.display = "block";
    } else if (chosenTitle.value === "1") {
        warlordDiv.style.display = "block";
    } else if (chosenTitle.value === "4") {
        rogueDiv.style.display = "block";
    } else if (chosenTitle.value === "2") {
        engineerDiv.style.display = "block";
    } else if (chosenTitle.value === "5") {
        wizardDiv.style.display = "block";
    }
};
</script>
{% endblock %}
