{% extends "layout.html" %}
{% block content1 %}
<form method="POST" accept-charset="UTF-8" role="form">
    <!-- LoginForm -->
    {{ form.csrf_token }}
    {{ render_field(form.email, placeholder="Your Email Address", autofocus="") }}
    {{ render_field(form.password, placeholder="Password") }}
    <input type="checkbox" name="remember" value="1"> Remember Me
    <br><a role="button" href="/">New user? Create account here.</a>
    <br><br>
    <button type="submit">Sign in</button>
</form>
{% endblock %}