<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Reset Password Email</title>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <p>Hi Owner of account '{{ user_name }}',</p>
      <p>&#9;You'll need this code to activate your account:
        <strong id="key">{{ email_hash }}</strong>
      </p>
    </td>
  </tr>
</table>
</body>
</html>
