{% extends "mobile/gameplay/layout.html" %}

{% block title %}City Planner: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style type="text/css">
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.2em 5px;
}

#header {
    width: 310px;
    margin: auto;
}

h2 {
    margin: 0 1em 0.3em;
}

input {
    padding: 0;
}

button {
    width: 90%;
    border-radius: 4px;
    padding: 0.3em;
    margin-top: 0.3em;
}

#tableForm {
    display: flex;
    justify-content: center;
}

#productionTable {     /* The tables which display your infrastructure/military and let you build */
    width: 100%;
    max-width: 500px;
    border: 1px solid;
}

#productionTable th, td {
    border: 1px dotted;
    padding:4px;
}

#productionTable td:first-child {
    width: 40%;
    max-width: 100px;
}

.costDiv {
    width: 100%;
    min-width: 200px;
}

th {
    font-weight: bold;
    font-size: 1.3em;
}

.tab {
    margin-left: 0.5em;
}
.tooltip-mobile {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-mobile .tooltip-text-mobile {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-mobile:hover .tooltip-text-mobile {
    visibility: visible;
}

.select {
    padding: 0.8em;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-align {
    margin-right: auto;
}

#idle-pop-div {
    margin: 1em 0 1.6em;
    padding: 0 1em 0;
}

.other-select {
    padding: 0.8em;
    border-radius: 5px;
}
</style>
{% endblock %}

{% set dynamic_cost %}
{% set county = current_user.county %}
<div class="costDiv">
  Gold Cost: <span class="goldCost">0</span>
  <img class="resource_icons" src="/static/dist/images/gold_icon.jpg"> / {{ county.gold }} <img class="resource_icons" src="/static/dist/images/gold_icon.jpg"><br>
  Wood Cost: <span class="woodCost">0</span>
  <img class="resource_icons" src="/static/dist/images/wood_icon.jpg"> / {{ county.wood }} <img class="resource_icons" src="/static/dist/images/wood_icon.jpg"><br>
  Land Required: <span class="landCost">0</span>&nbsp;/&nbsp;{{ infrastructure.get_available_land() }}
  <br><br>
  Each day, up to 3 buildings in your queue will be built.
  <br>
</div>
{% endset %}

{% macro select_field(size) %}
<select class="select">
  {% for n in range(size+1) %}
   <option value="{{ n }}">{{ n }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="content">
  <div id="header">
    <h2>Available Land: <span id="avaiableLand">{{ infrastructure.get_available_land() }}</span>&nbsp;/&nbsp;{{ county.land }}</h2>
    <h2>Citizens Avaiable: {{ county.get_available_workers() }}&nbsp;/&nbsp;{{ county.population }}</h2>
    <h2>Current Resources:
      <br>
      <span class="tab">
      <span id="totalGold">{{ county.gold }}</span> <img class="resource_icons" src="/static/dist/images/gold_icon.jpg">
      <span id="totalWood">{{ county.wood }}</span> <img class="resource_icons" src="/static/dist/images/wood_icon.jpg">
      {{ county.iron }} <img class="resource_icons" src="/static/dist/images/iron_icon.jpg">
      </span>
    </h2>
  </div>
  <div class="column max-width-400" id="idle-pop-div">
    <p class="left-align">You may assign a task to your idle population. </p>
    <div class="top-spacer-dot-6"></div>
    <form id="goal-form" action="{{ url_for('allocate_workers') }}" method="POST" accept-charset="UTF-8">
        {{ excess_worker_form.csrf_token(id="allocate-form-csrf-token") }}
        {{ excess_worker_form.goal(class="other-select width-100-percent") }}
    </form>
    <div class="top-spacer-dot-6">
      <span class="goalDescription invisible">
        Your idle citizens will be forced to work, earning your county an additional {{ county.get_excess_production_value(0) }} gold per day.
      </span>
      <span class="goalDescription invisible">
        Your idle citizens will be forced to reclaim overgrown land surrounding your county. You are currently {{ county.preferences.produce_land }} / {{ county.land * 5 }} square meters towards reclaiming an acre. You will advance {{ county.get_excess_production_value(1) }} square meters each day.
      </span>
      <span class="goalDescription invisible">
        Your idle citizens will be forced to forage for food, gaining enough for {{ county.get_excess_production_value(2) }} people each day.
      </span>
      <span class="goalDescription invisible">
        Your idle citizens will be allowed to relax, gaining {{ county.get_excess_production_value(3) }} happiness per day.
      </span>
    </div>
  </div>
  <br>
  <form id="tableForm" action="{{ url_for('build_buildings') }}" method="POST" accept-charset="UTF-8">
    {{ build_form.csrf_token }}
    <table id="productionTable">
      <tbody>
      {% for building in infrastructure.buildings.values() %}
      <tr>
        <th colspan="2">{{ building.class_name.title() }}</th>
      </tr>
      <tr>
        <td>Owned</td>
        <td>{{ building.total }}</td>
      </tr>
      <tr>
        <td>Under Construction</td>
        <td>{{ building.pending }}</td>
      </tr>
      <tr>
        <td>To Be Built</td>
        <td>
          {{ dynamic_cost }}
          {{ select_field(max_buildable_by_cost(county, building)) }}
          <input class="value" name="{{ building.name }}" value="0" hidden/>
          <button class="submitButton" type="submit">Build <span class="display">0</span></button>
        </td>
      </tr>
      <tr>
        <td>Cost</td>
        <td>
          <span class="buildingGoldCost">{{ building.gold_cost }}</span><img class="resource_icons" src="/static/dist/images/gold_icon.jpg">
          <span class="buildingWoodCost">{{ building.wood_cost }}</span><img class="resource_icons" src="/static/dist/images/wood_icon.jpg">
        </td>
      </tr>
      <tr>
        <td>Workers Employed</td>
        <td>{{ building.workers_employed * building.total }} ({{ building.workers_employed }} each)</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ building.description }}</td>
      </tr>
      {% endfor %}
      <tr style="font-weight:bold;">
        <th colspan="2" style="width:150px;">Total</th>
      </tr>
      <tr>
        <td>Owned</td>
        <td>{{ infrastructure.buildings.values()|sum(attribute="total") }}</td>
      </tr>
      <tr>
        <td>Under Construction</td>
        <td>{{ infrastructure.buildings.values()|sum(attribute="pending") }}</td>
      </tr>
      <tr>
        <td>To Be Built</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Workers Employed</td>
        <td style="width:150px;">{{ infrastructure.get_employed_workers() }}</td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
var goalForm = $("#goal-form");
var goalChoice = $("#goal");
var goalDescriptions = $(".goalDescription");

function updateGoals() {
    // hide all goals except the one at val()
    goalDescriptions.each(function (index, element) {
        if (parseInt(goalChoice.val()) === index) {
            $(element).removeClass("invisible");
        } else if (!$(element).hasClass("invisible")) {
            $(element).addClass("invisible");
        }
    });
}

// submit form on input change
goalChoice.change(function () {
    $.ajax({
        url: goalForm.attr("action"),
        method: "POST",
        // need to verify csrf id, I might be wrong.
        headers: {"X-CSRF-TOKEN": $("#allocate-form-csrf-token").val()},
        data: goalForm.serialize(),
        dataType: "json",  // type of data returned, not type sent.
        success: function (response, status) {
            if (status === "success") {
                updateGoals();
            } else {
                console.log(response);
            }
        }
    });
});

$(document).ready(function () {
    updateGoals();
});

var selects = $(".select");
var submitButtons = $(".submitButton");
var goldCosts = $(".goldCost");
var woodCosts = $(".woodCost");
var landCosts = $(".landCost");

var displays = $(".display");
var values = $(".value");
var buildingGoldCosts = $(".buildingGoldCost");
var buildingWoodCosts = $(".buildingWoodCost");
// var buildingLandCosts = $(".buildingLandCost");  // not being used yet.
var totalGold = parseInt($("#totalGold").text());
var totalWood = parseInt($("#totalWood").text());
var availableLand = parseInt($("#availableLand").text());

function updateResources() {
    goldCosts.each(function (index, goldElement) {
        var woodSum = 0;
        var goldSum = 0;
        var landSum = 0;
        var woodElement = woodCosts[index];
        var landElement = landCosts[index];
        selects.each(function (index, element) {
            goldSum += element.value * buildingGoldCosts[index].innerHTML;
            woodSum += element.value * buildingWoodCosts[index].innerHTML;
            // at some point the 1 will be a land cost.
            landSum += element.value * 1;
        });
        goldElement.innerHTML = goldSum;
        woodElement.innerHTML = woodSum;
        landElement.innerHTML = landSum;
    });
}

// function updateOptions(element, size) {
//     console.log($(element).find("option").length, size)
//     // If select is too long, drop options,
//     // if it is too short add new ones.
//     var currentSize = $(element).find("option").length;
//     if (currentSize == size + 1) {
//         return;
//     } else if (currentSize < size + 1) {  // too small
//         do {
//             console.log("currentSize:", currentSize);
//             var option = $("<option></option>").val(i).text(i);
//             $(element).append(option);
//         } while ($(element).find("option").length < size + 1);
//     } else {  // too big
//         do {
//             $(element).last().remove()
//             var newSize = $(element).find("option").length
//         } while (newSize > size + 1);
//     }
// }

// function resizeRemaining(element, index, gold, wood, land) {
//     var goldPrice = buildingGoldCosts[index].innerHTML;
//     var woodPrice = buildingWoodCosts[index].innerHTML;
//     var landPrice = 1;  // someday will be land cost
//     var remaining = Math.max(Math.floor(Math.min(
//         (totalGold - gold) / goldPrice,
//         (totalWood - wood) / woodPrice,
//         (availableLand - land) / landPrice
//     )), 0);

//     var size = element.value * 1 + remaining;
//     updateOptions(element, size);
//     if (size === 0) {
//         $(element).addClass("disabled");
//     } else {
//         $(element).removeClass("disabled");
//     }
// }

function updateCosts() {
    updateResources();

    selects.each(function (index, element) {
        var goldCost = goldCosts[index];
        var woodCost = woodCosts[index];
        var landCost = landCosts[index];
        var gold = parseInt(goldCost.innerHTML);
        var wood = parseInt(woodCost.innerHTML);
        var land = parseInt(landCost.innerHTML);
        // resizeRemaining(element, index, gold, wood, land);

        if (gold > totalGold) {
            goldCost.style.color = "red";
        } else {
            goldCost.style.color = "green";
        }

        if (wood > totalWood) {
            woodCost.style.color = "red";
        } else {
            woodCost.style.color = "green";
        }

        if (land > availableLand) {
            landCost.style.color = "red";
        } else {
            landCost.style.color = "green";
        }

        if (gold <= totalGold && wood <= totalWood && land <= availableLand) {
            submitButtons[index].disabled = false;
        } else {
            submitButtons[index].disabled = true;
        }
    });
}


selects.each(function (index, element) {
    $(element).change(function () {
        displays[index].innerHTML = $(element).val();
        values[index].value = $(element).val();
        updateCosts();
    });
});
</script>
{% endblock %}

