{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <ul>
        {% for army in county.armies.values() %}
        <li>{{ army.name }}: {{ form[army.base] }} (Max: {{ army.amount }}) (Attack power: {{ army.attack }})</li>
        {% endfor %}
    </ul>
    <button type="submit">Attack</button>
    <p style="width:70%">Note: You will typically lose around 20% of any soldiers sent. However, if your army is much weaker,
        then your troops will take heavy casaulties. Conversely, if you greatly overpower them you will lose very few troops.</p>
</form>

{% endblock %}