{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <h1>Choose which troops to send:</h1><br>
    <h2>Current available attack power: {{ county.get_offensive_strength(county=county) }}</h2><br>
    <ul>
        {% for army in county.armies.values() %}{% if army.base_name != 'archer' %}
        <li>{{ army.class_name }}: {{ form[army.base_name] }} (Available: {{ army.available }} / {{ army.total }}) (Attack Power: {{ army.attack }} per troop)</li>
        {% endif %}{% endfor %}
    </ul>
    <br>
    Current Army has <span id="calculatedAttack">0</span> attack power.
    <br>
    It would be expected to return in roughly <span id="attackDuration">0</span> days.
    <br><br>
    <button type="submit">Attack</button>
    <br><br>
    <p style="width:70%">Note: You will typically lose around 20% of any soldiers sent. However, if your army is much weaker,
        then your troops will take heavy casualties. Conversely, if you greatly overpower them you will lose very few troops.</p>
</form>

<script type="text/javascript">
{% for unit in county.armies.values() %}
{% if unit.base_name != 'archer' %}
document.getElementById('{{ unit.base_name }}').onchange = function() {
    updateAttack();
    updateDuration();
}
var {{ unit.base_name }}_amount = document.getElementById("{{ unit.base_name }}");
console.log({{ unit.base_name }}_amount);
{% endif %}
{% endfor %}

function updateAttack() {
    var total_power = 0;
    total_power = 0{% for unit in county.armies.values() %}{% if unit.base_name != 'archer' %}  + parseInt({{ unit.base_name }}_amount.value) * parseInt({{ unit.attack }}){% endif %}{% endfor %};
    calculatedAttack.innerHTML = total_power;
}
function updateDuration() {
    var days_to_return = 0;
    var total_units = 0;
    total_units = 0{% for unit in county.armies.values() %}{% if unit.base_name != 'archer' %}  + parseInt({{ unit.base_name }}_amount.value){% endif %}{% endfor %};
    console.log(total_units);
    days_to_return = Math.ceil(total_units / 25) + 2;
    attackDuration.innerHTML = days_to_return;
}

</script>

{% endblock %}