{% extends "gameplay/layout.html" %}

{% block title %}Wizard Council: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<br>Current Mana <img class="resource_icons" src="/static/images/mana_icon.jpg">: {{ county.mana }} / {{ county.max_mana }}
<br>Expected mana growth:
{% if county.mana_change < 0 %}{% else %}+{% endif %}{{ county.mana_change }}
<img class="resource_icons" src="/static/images/mana_icon.jpg">
<br><br>
<p>Chance to successfully disrupt enemy spells against your county: {{ county.chance_to_disrupt_spell() }}%</p>

<h2>Choose Spell to Cast on {{ target.name }}</h2>
{% for spell in known_spells %}
    {{ spell.display_name }} ({{ spell.source }})
    <br>Cost: {{ spell.mana_cost }} <img class="resource_icons" src="/static/images/mana_icon.jpg">
    {% if spell.mana_sustain %} + {{ spell.mana_sustain }} <img class="resource_icons" src="/static/images/mana_icon.jpg"> per turn{% endif %}
    <br>Type: {{ spell.category.title() }} {% if spell.category == 'timed' %} ({{ spell.duration }} days){% endif %}
    <br>Targets: {{ spell.targets.title() }}
    <br>Description: {{ spell.description }}<br>
    <a href="{{ url_for('cast_spell', spell_id=spell.id, target_id=target.id) }}">
        <!-- Lay out all the cases where the spell is not castable -->
        {% set valid_target, _ = spell.validate_targeting(county, target) %}
        {% if (spell.mana_cost > county.mana) or not valid_target %}
        <button style="float:left;width:100px;" disabled>Cast</button></a>
        {% else %}
        <button style="float:left;width:100px;">Cast</button></a>
        {% endif %}
    <br><br><br>
{% endfor %}
<br>
<h2>Our Active Spells</h2>
<ul>
    {% for spell in active_spells %}
    {{ spell.name.title() }}
    {% if spell.mana_sustain %}(Requires {{ spell.mana_sustain }} <img class="resource_icons" src="/static/images/mana_icon.jpg"> per day)
    {% elif spell.duration %}(Spell ends in {{ spell.duration }} days)
    {% endif %}<br>
    Spell is affecting county id: {{ spell.target_id }}<br>
    <a href="{{ url_for('cancel_spell', spell_id=spell.id) }}"><button style="float:left;width:100px;">End</button></a><br><br><br>
    {% else %}
    No active spells
    {% endfor %}
</ul>
<br><br><br>
<h2>Spells From Other Counties Affecting Us</h2>
<ul>
    {% for spell in enemy_spells %}
    {{ spell.name.title() }} by
    <a href="{{ url_for('enemy_overview', county_id=spell.caster.id) }}">
        {{ spell.caster.name }}
    </a>
    {% if spell.mana_sustain %}(Requires {{ spell.mana_sustain }} <img class="resource_icons" src="/static/images/mana_icon.jpg"> per day)
    {% elif spell.duration %}(Spell ends in {{ spell.duration }} days)
    {% endif %}<br>
    From county id: {{ spell.county_id }}<br>
    Attempt to dispel for 10 <img class="resource_icons" src="/static/images/mana_icon.jpg">
    <a href="{{ url_for('dispel_spell', spell_id=spell.id) }}">
        <button style="float:left;width:100px;" {% if county.mana < 10 %}disabled{% endif %}>Attempt to Dispel</button></a>
    {% else %}
    No active spells
    {% endfor %}
</ul>
<br><br>
<h2>Casting History</h2>
<ul>
    {% for spell in casting_history|sort(attribute='county_day', reverse=True) %}
        {% if spell.success == 0 %}<li style="color:red;">(Day {{ spell.county_day }} - Failed)
        {% else %}<li>(Day {{ spell.county_day }}){% endif %}
        You cast {{ spell.display_name }} on county id {{ spell.target_id }}
        </li>
    {% else %}
        No active spells
    {% endfor %}
</ul>
{% endblock %}
