{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<h1>Discussion</h1>
<div style="border:solid 1px;width:auto;min-height:300px;margin-left:250px;margin-right:250px;">
<ul id="chatlist">
{% for message in chat %}
    <li>({{ message.get_pretty_timestamp() }}) {{ message.get_county_leader_name() }}: {{ message.content }}</li>
{% endfor %}
</ul>
</div>
<br>
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <textarea cols="100" rows="10" type="text" name="content" placeholder="Type a message to your kingdom here"></textarea>
    <br><br>
    <button id="send" type="submit">Say</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
$("form").submit(function(e) {
  e.preventDefault();
  sendMessage();
});

function sendMessage() {
  $.ajaxSetup({
    headers: { 'X-CSRF-TOKEN': $("#csrf_token").val() }
  });

  $.post("{{ url_for('chatroom_api') }}",
    {
      message: $("#message").val(),
      updateOnly: false
    },
    function(resp, status) {
      if (status === "success") {
        $("#message").val('');
        // <li> 13:27:26  Haldon: Test message</li>
        $("#chatlist").append($("<li></li>").text(resp.data[0] + " " + resp.data[1] + ": " + resp.data[2]))
      }
  });
}

function updateChat() {
  $.ajaxSetup({
    headers: { 'X-CSRF-TOKEN': $("#csrf_token").val() }
  });

  $.post("{{ url_for('chatroom_api') }}",
    {
      message: '',
      updateOnly: true
    },
    function(resp, status) {
      if (status === "success") {
        $("#chatlist").empty();
        // <li> 13:27:26  Haldon: Test message</li>
        $.each(resp.data[1], function(index, value) {
          $("#chatlist").append($("<li></li>").text(value[0] + " " + value[1] + ": " + value[2]))
        });
      }
      console.log(status);
      console.log(resp);
  });
}

var clock = {
  handle : null,
  run : function() {
    return setInterval(updateChat, 3000);
  }
};

// Active update function when the window gains focus.
$(window).on('focus', function() {
  clock.handle = clock.run();
});

// Stop update function when the window loses focus.
$(window).on('blur', function() { clearInterval(clock.handle) });
</script>
{% endblock %}
