{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<h1>Discussion</h1>
<div style="border:solid 1px;width:auto;min-height:300px;margin-left:250px;margin-right:250px;">
<ul id="chatlist">
{% for message in chat %}
    <li>{{ message[0] }}  {{ message[1] }}: {{ message[2] }}</li>
{% endfor %}
</ul>
</div>
<br>
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    {{ render_field(form.message, placeholder="Public to your kingdom", autofocus="") }}
    <br><br>
    <button id="send" type="submit">Say</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
$("form").submit(function(e) {
  e.preventDefault();
	updateChat();
});

function updateChat() {
  $.ajaxSetup({
    headers: { 'X-CSRF-TOKEN': $("#csrf_token").val() }
  });

  $.post("{{ url_for('chatroom_api') }}",
    {
      message: $("#message").val()
    },
    function(resp, status) {
      if (status === "success") {
        $("#chatlist").empty();
        // <li> 13:27:26  Haldon: Test message</li>
        $.each(resp.data[1], function(index, value) {
          $("#chatlist").append($("<li></li>").text(value[0] + " " + value[1] + ": " + value[2]))
          // console.log(index);
          // console.log(value);
        });
      }
      console.log(resp);
      console.log(status);
  });
}

refreshInterval = setInterval(updateChat, 5000);
$(window).on('focus', function() { refreshInterval });
$(window).on('blur', function() { clearInterval(refreshInterval) });
</script>
{% endblock %}
