{% extends "gameplay/layout.html" %}

{% block title %}Thieves Guild: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<h1 style="text-align:center;">Create a Kingdom</h1>

<p>
You can spend 500 gems to create your own kingdom.
With your own kingdom you can invite any of your friends to join.
Once created, the kingdom is permanent unless you decide to disband it.
</p>

<form method="POST" accept-charset="UTF-8" role="form">
    <!-- LoginForm -->
    {{ form.csrf_token }}
    {{ render_field(form.name, placeholder="Your Kingdom's Name", autofocus="") }}
    <br>
    <button type="submit">Spend 500 gems to create your own kingdom</button>
</form>

{% endblock %}
