{% extends "gameplay/layout.html" %}

{% block title %}Economy: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<br>
<h1>Trades We Offered</h1>
{% for trade in trades_offered %}
    <br>
    We offered a trade to county id: {{ trade.target_id }}.
    We offered {{ trade.gold_to_give }} gold, {{ trade.wood_to_give }} wood, {{ trade.iron_to_give }} iron, and {{ trade.stone_to_give }} stone
    in exchange for {{ trade.gold_to_receive }} gold, {{ trade.wood_to_receive }} wood, {{ trade.iron_to_receive }} iron, and {{ trade.stone_to_receive }} stone.
    The trade expires in {{ trade.duration }} days if they do not reply. <button>Cancel</button>
{% else %}
    We currently have not offered any county a trade.
{% endfor %}
<br><br>
<h1>Trades Offered To Us</h1>
{% for trade in trades_received %}
    <br>
    We were offered a trade by county id: {{ trade.target_id }}.
    We were offered {{ trade.gold_to_give }} gold, {{ trade.wood_to_give }} wood, and {{ trade.iron_to_give }} iron
    in exchange for {{ trade.gold_to_receive }} gold, {{ trade.wood_to_receive }} wood, and {{ trade.iron_to_receive }} iron.
    The trade expires in {{ trade.duration }} days if we do not reply. <button class="accept" value="{{ url_for('diplomacy_reply', trade_id=trade.target_id) }}">Accept</button><button class="reject" value="{{ url_for('diplomacy_reply', trade_id=trade.target_id) }}">Reject</button>
{% else %}
    We currently have no offers by any county to trade.
{% endfor %}

{% endblock %}

{% block script %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
// attached to every "accept" class object.
// This object must have a "value" attribute
// that contains the url to send to.
$(".accept").click(function () {
    $.get(
        $(this).val() + "?accept=1",
        function (response, status) {
            if (status === "success") {
                console.log(response);
            } else {
                console.log(response);
            }
    }, "json");
});

// attached to every "reject" class object.
// This object must have a "value" attribute
// that contains the url to send to.
$(".reject").click(function () {
    $.get(
        $(this).val() + "?reject=1",
        function (response, status) {
            if (status === "success") {
                console.log(response);
            } else {
                console.log(response);
            }
    }, "json");
});
</script>
{% endblock %}

