{% extends "gameplay/layout.html" %}

{% block title %}Infiltrate: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<h2>Target: <a href="{{ url_for('enemy_overview', kingdom_id=target.kingdom.id, county_id=target.id) }}">{{ target.name }}</a> led by {{ target.leader }}</h2>
<br><br>
{% if county.get_number_of_available_thieves() == 0 %}
<h2>You do not have any available thieves. Either wait for them to return from previous missions or build more guilds.</h2>
{% else %}
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <h2>What type of mission would you like to do?</h2>
    {{ form.mission }}<br>
    <h2>How many thieves would you like to send?</h2>
    <p>(Each extra thief increases chance of success by 1% but repeatedly infiltrating the same county lowers your success rate)</p>
    {{ form.amount }}<br>
    <h2>Estimated Time to Return:</h2><br>
    Your thieves would be ready after about <span id="thiefDuration">6</span> days.
    <br><br>
    <button type="submit">Send Thieves</button><br>
</form>

{% endif %}




<script type="text/javascript">
var thiefAmount = document.getElementById('mission');
var thiefDurationDict = {1: 12, 2: 18, 3: 16, 0: 4, 4: 10};

thiefAmount.onchange = function() {
        thiefDuration.innerHTML = thiefDurationDict[this.value];
}
</script>

{% endblock %}
