{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<h1>Target: {{ target.name }} led by {{ target.leader }}</h1>
<br><br>
{% if county.get_number_of_available_thieves() == 0 %}
<h2>You do not have any available thieves. Either wait for them to return from previous missions or build more guilds.</h2>
{% else %}
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <h1>What type of mission would you like to do?</h1><br>
    {{ form.mission }}
    <h1>How many thieves would you like to send?</h1><br>
    {{ form.amount }}
    <button type="submit">Send Thieves</button><br>
</form>

Basic Info (This feature is very new and might be tweaked mid-age. During this period, the numbers will be shown here for visibility):
<ul>
    <li>Gold stolen per thief: 15-25 (+25% bonus for each additional thief), Duration: 14 days</li>
    <li>Crops burned per thief: 1, Duration: 24 days</li>
    <li>County happiness lost per thief: 3, Duration: 18 days</li>
    <li>Scout military: 1 thief (50% accuracy). 2 thieves (70% accuracy). 3+ thieves (90% accuracy), Duration: 6 days</li>
    <li>*Note for accuracy: If enemy has 100 knights, 50% accuracy means thieves would report between 50-150 knights.*</li>
</ul>
{% endif %}

{% endblock %}