{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<br><br><br><br>
<h2>Total Land: {{ county.land }}</h2>
<h2>Available Land: {{ county.get_available_land() }}</h2>
<h2>Gold: {{ county.gold }}</h2>
<h2>Wood: {{ county.wood }}</h2><br>
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <table id="infrastructure_table">
        <tr>
            <th style="width:150px;">Name</th>
            <th>Currently Have</th>
            <th>To Be Built</th>
            <th>Under Construction</th>
            <th style="width:125px;">Cost</th>
            <th style="width:150px;">Workers Employed</th>
            <th>Description</th>
        </tr>
        {% for building in county.buildings.values() %}
        <tr>
            <td>{{ building.name.title() }}</td>
            <td>{{ building.amount }}</td>
            <td>
                <input id="{{ building.base }}_slider"
                       type="range" value="0" min="0" max="{{ county.get_available_land() }}" step="1" />
                <input id="{{ building.base }}_display" name="{{ building.base }}" value="0" />
            </td>
            <td>{{ building.pending }}</td>
            <td>
                {% if building.production %}{{ building.production }}<img class="resource_icons" src="/static/images/prod_icon.jpg">{% endif %}
                {% if building.gold %}{{ building.gold }}<img class="resource_icons" src="/static/images/gold_icon.jpg">{% endif %}
                {% if building.wood %}{{ building.wood }}<img class="resource_icons" src="/static/images/wood_icon.jpg">{% endif %}
            </td>
            <td>{{ building.labour }} each ({{ building.labour * building.amount }} total)</td>
            <td>{{ building.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><button id="submit" type="submit" disabled>Build</button><br>
    You have {{ county.get_available_workers() }} available workers generating a total of {{ county.get_production()|int }}
    <img class="resource_icons" src="/static/images/prod_icon.jpg"> each day. Any excess <img class="resource_icons" src="/static/images/prod_icon.jpg">
    will be converted into gold at the end of each day.
</form>

<br>
Each day your kingdom will randomly produce pending buildings until you can not produce any more.

<script type="text/javascript">
{% for building in county.buildings.values() %}
    var {{ building.base }}_slider = document.getElementById('{{ building.base }}_slider'),
    {{ building.base }}_display = document.getElementById('{{ building.base }}_display');
    {{ building.base }}_slider.onchange = function() {
        {{ building.base }}_display.value = this.value;
        if (this.value > 0) {
            button.disabled = false;
        }
    }
{% endfor %}
button = document.getElementById('submit');
</script>

{% endblock %}

