{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<br><br><br><br>
<form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
    <table id="infrastructure_table">
        <tr>
            <th>Name</th>
            <th>Currently Have</th>
            <th>To Be Built</th>
            <th>Under Construction</th>
            <th>Production Cost to Build</th>
            <th>Workers Employed</th>
        </tr>
        <tr style="border:2px solid;">
            <td>Total Land</td>
            <td>{{ county.total_land }}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>0</td>
        </tr>
        {% for building in county.buildings.values() %}
        <tr>
            <td>{{ building.name.title() }}</td>
            <td>{{ building.amount }}</td>
            <td>{{ form[building.name] }}</td>
            <td>{{ building.pending }}</td>
            <td>{{ building.cost }}</td>
            <td>{{ building.maintenance * building.amount }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>Available Land: {{ county.available_land }}
    <br>You have {{ county.get_available_workers() }} workers generating {{ county.get_production()|int }} production each day.
    <button type="submit">Build</button>
</form>

{% endblock %}