{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<div style="width:100%;text-align:center;">
    <button style="float:left;width:100px;" disabled>Left</button>
    <h1 style="display:inline-block;margin:0 auto;width:100px;">{{ kingdom.name }}</h1>
    <button style="float:right;width:100px;" disabled>Right</button>
</div>
<br><br><br>
<ul>
    {% for county in kingdom.counties %}
    <li>{{ county.name }} led by the infamous {{ county.user.name }} with {{ county.total_land }} acres of land
        <li><br></li>
    {% endfor %}
</ul>

{% endblock %}