{% extends "gameplay/layout.html" %}

{% block title %}Kingdom: {{ super() }}{% endblock %}

{% block style %}
{{ super() }}
<style>
#sidebar {
    max-width: 191px;
}

#layout-content {
    /* 195px is the size of the sidebar */
    width: calc(100% - 195px - 1em);
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
    display: inline-block;
    margin:0 auto;
    min-width: 100px;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.5em;
    max-width: calc(100% - 16em);
}

.nav-button {
    width: 8em;
}

.tooltip .tooltipText {
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -195px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
</style>
{% endblock %}

{% block content2 %}

{% if kingdom.counties|length == 0 %}

    <div class="header">
        <a href="{{ url_for('kingdom', kingdom_id=1) }}">
            <button class="nav-button">West</button>
        </a>
        <h1 class="title">{{ kingdom.name }}</h1>
        <a href="{{ url_for('kingdom', kingdom_id=2) }}">
            <button class="nav-button">East</button>
        </a>
    </div>
    <br><br>
    This is a custom kingdom and has no current active players.

{% else %}

    {% set user = current_user %}
    {% set my_county = current_user.county %}
    {% set left_button = kingdom_navigation('left', kingdom.id) %}
    {% set right_button = kingdom_navigation('right', kingdom.id) %}

    <div class="header">
        <a href="{{ url_for('kingdom', kingdom_id=left_button) }}">
            <button class="nav-button">West</button>
        </a>
        <h1 class="title">{{ kingdom.name }}</h1>
        <a href="{{ url_for('kingdom', kingdom_id=right_button) }}">
            <button class="nav-button">East</button>
        </a>
    </div>
    <br><br>
    <ul style="line-height:30px;">
        {% if kingdom == my_county.kingdom %}
            {% for county in kingdom.counties %}
                {% if my_county.id == county.id %}
                    <form method="POST" accept-charset="UTF-8" role="form">
                        {{ form.csrf_token }}
                        <li style="font-style:italic;">
                            {% if kingdom.leader == county.id %}
                                <div class="tooltip"><img class="resource_icons" src="/static/dist/images/crown_icon.jpg">
                                    <span class="tooltipText">Approval Rating: {{ kingdom.approval_rating }}</span>
                                </div>
                            {% endif %}
                            {{ county.name }} led by the infamous {{ county.leader }} with {{ county.land }} acres of land
                            {% if kingdom.leader == 0 and my_county.can_vote() %}(Vote: {{ form.vote }})
                                <button type="submit">Change Vote</button>
                            {% elif kingdom.leader == 0 %}
                                (Vote: {{ county.display_vote() }} - You must wait to change your vote)
                            {% endif %}
                        </li>
                    </form>
                {% else %}
                    <li>
                        {% if kingdom.leader == county.id %}
                            <div class="tooltip"><img class="resource_icons" src="/static/dist/images/crown_icon.jpg">
                                <span class="tooltipText">Approval Rating: {{ kingdom.approval_rating }}</span>
                            </div>
                        {% endif %}
                        <a href="{{ url_for('enemy_overview', county_id=county.id) }}">{{ county.name }}</a> led by the infamous {{ county.leader }} with {{ county.land }} acres of land
                        {% if kingdom.leader == 0 %}
                            (Vote: {{ county.display_vote() }})
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if kingdom in my_county.kingdom.allies %}
                <p style="color:blue;">You are allied with this kingdom</p>
            {% elif kingdom in my_county.kingdom.enemies %}
                <p style="color:red;">You are at war with this kingdom</p>
            {% elif kingdom in my_county.kingdom.armistices %}
                <p style="color:green;">You have declared an armistice with this kingdom</p>
            {% endif %}
            {% for county in kingdom.counties %}
                <li>
                    {% if kingdom.leader == county.id %}<img class="resource_icons" src="/static/dist/images/crown_icon.jpg">{% endif %}
                    <a href="{{ url_for('enemy_overview', county_id=county.id) }}">{{ county.name }}</a> led by the infamous {{ county.leader }} with {{ county.land }} acres of land
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <br><br><br>
    {% if kingdom.leader %}
    {{ kingdom.get_leader_name(kingdom.leader) }} rules this land!
    {% else %}
    {{ kingdom.get_most_popular_county().name }} is winning with {{ kingdom.get_most_popular_county().preferences.get_votes_for_self() }} vote(s).
    The first county with {{ kingdom.get_votes_needed() }} votes will be crowned ruler.
    {% endif %}

{% endif %}

{% endblock %}
