{% extends "layout.html" %}

{% block style %}
<style type="text/css">
#layout-body {
    display: flex;
    margin: 1em;
}

#sidebar {  /* The main sidebar which is always visible when logged in */
    margin-right: 1em;
    padding: 0.6em;
    font-size: 1.25em;
    line-height: 1.7em;
    border: solid;
    border-radius: 5px;
}

#layout-content {
    width: 100%;
}

</style>
{% endblock %}

{% block content1 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
{% set preferences = user.preferences %}
<div id="layout-body">
  <div id="sidebar">
    <ul style="text-align:center;">
      <li><a href="{{ url_for('overview') }}">County&nbsp;Overview</a></li>
      <li><h1>Advisors</h1></li>
      <li><a href="{{ url_for('economy') }}">Economist</a></li>
      <li><a href="{{ url_for('infrastructure') }}">City Planner</a></li>
      <li><a href="{{ url_for('military') }}">War</a></li>
      <li><a href="{{ url_for('infiltration') }}">Thieves Guild</a></li>
      <li><a href="{{ url_for('casting', target_id=county.id) }}">Wizard Council</a></li>
      <li><a href="{{ url_for('research') }}">Scientist</a></li>
      <li><h1>Diplomacy</h1></li>
      <li><a href="{{ url_for('trading') }}">Trades</a></li>
      <li><a href="{{ url_for('messages') }}" {% if preferences.has_mail() %}style="color:blue;font-weight:bold;"{% endif %}>Messages</a></li>
      <li><a href="{{ url_for('chatroom') }}" {% if preferences.has_new_townhall_message() %}style="color:blue;font-weight:bold;"{% endif %}>Town&nbsp;Hall</a></li>
      <li><a href="{{ url_for('kingdom', kingdom_id=kingdom.id) }}">Kingdom&nbsp;Overview</a></li>
      {% if kingdom.leader != 0 %}
        <li><br></li>
        <li><img class="resource_icons" src="/static/images/crown_icon.jpg"><a href="{{ url_for('royal_court') }}">Royal Court</a></li>
      {% endif %}
      <li><br></li>
      <li><h1>About the Game</h1></li>
      <li><a href="{{ url_for('achievements') }}">Achievements</a></li>
      <li><a href="{{ url_for('forum', thread_id=0, post_id=0) }}">Forum</a></li>
      <li><a href="{{ url_for('guide') }}">Player&nbsp;Guide</a></li>
      <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
      <li><a href="{{ url_for('profile', tab='basic') }}">Profile</a></li>
      {% if user.is_admin %}<li><a href="{{ url_for('admin.home_api') }}">Admin</a></li>{% endif %}
      <li><a href="{{ url_for('generic_clan') }}">{% if user.clan %}Clan{% else %}Create Kingdom{% endif %}</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      <li><br><br><br></li>
    </ul>
  </div>
  <div id="layout-content">
    {% block content2 %}
    {% endblock %}
  </div>
</div>
{% endblock %}
