{% extends "gameplay/layout.html" %}

{% block title %}Wizard Council: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<br>Current Mana <img class="resource_icons" src="/static/images/mana_icon.jpg">: {{ county.mana }} / {{ county.max_mana }}
<br><br>Daily Mana Required: {{ sustain_mana_requirement }} <img class="resource_icons" src="/static/images/mana_icon.jpg">

<h2>Choose Spell to Cast</h2>
{% for spell in known_spells %}
    {{ spell.name.title() }}: {{ spell.mana_cost }} <img class="resource_icons" src="/static/images/mana_icon.jpg"> to cast
    <br>{{ spell.description }}<br>
    <a href="{{ url_for('cast_spell', spell_id=spell.id) }}"><button style="float:left;width:100px;">Cast</button></a>
    <br><br><br><br>
{% endfor %}
<br>
<h2>Active Spells</h2>
<ul>
    {% for spell in active_spells %}
    {{ spell.name.title() }} (Requires {{ spell.mana_sustain }} <img class="resource_icons" src="/static/images/mana_icon.jpg"> per day)<br>
    {{ spell.description }}<br>
    {% else %}
    No active spells
    {% endfor %}
</ul>
<br>
<h2>Casting History</h2>
<ul>
    {% for spell in casting_history %}
    (Day {{ spell.county_day }}) {{ spell.name.title() }}<br>
    {% else %}
    No active spells
    {% endfor %}
</ul>
{% endblock %}
