{% extends "gameplay/layout.html" %}

{% block title %}Overview: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
<h1 style="text-align:center;">{{ county.name }}</h1>
<ul>
    <li>Leader: {{ county.title }} {{ county.leader }}</li>
    <li>Race: {{ county.race }}</li>
    <li>Title: {{ county.background }}</li>
    <li>Land: {{ county.land }} acres</li>
    {% if county.kingdom.world.day < 0 %}
    <li>Calendar Day: 0 <span style="color:red;">(This age will begin in {{ county.kingdom.world.day|abs }} hours)</span></li>
    {% else %}
    <li>Calendar: Day {{ county.kingdom.world.day }} <span style="color:red;">(This round of testing will end on day 93)</span></li>
    {% endif %}
    <li>Stored Grain: {{ county.grain_stores }} <img class="resource_icons" src="/static/images/grain_icon.jpg"></li>
    <li>Coffers: {{ county.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg"></li>
    <li>Population: {{ county.population }} <img class="resource_icons" src="/static/images/population_icon.jpg"></li>
    <li>Happiness: {{ county.happiness_terminology.title() }}</li>
    <li>Nourishment: {{ county.nourishment_terminology.title() }}</li>
    <li>Weather: {{ county.weather.title() }}</li>
</ul>
<br>
{% if county.county_age < 1 %}
<p style="color:red;" id="serverMessageToPlayers"></p>
{% endif %}
<h2>News</h2>
<ul>
    {% for event in county.display_news()|sort(attribute='day', reverse=True) %}
    <li>{{ event.title }} (Day: {{ event.day }}): {{ event.content }}</li>
    {% else %}
    <li>No new events to report.</li>
    {% endfor %}
</ul>
<br><br>
<button onclick="oldNewsDisplay()">Show Old News</button>
<div id="oldNews" style="display:none;">
<br>
<ul>
    {% for event in county.display_old_news()|sort(attribute='day', reverse=True) %}
    <li>{{ event.title }} (Day: {{ event.day }}): {{ event.content }}</li>
    {% else %}
    <li>There is no news in your history.</li>
    {% endfor %}
</ul>
</div>

<script type="text/javascript">
function oldNewsDisplay() {
  var x = document.getElementById("oldNews");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock %}
