{% extends "gameplay/layout.html" %}
{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
<h1 style="text-align:center;">{{ county.name }}</h1>
<ul>
    <li>Leader: {{ county.leader }} ({{ county.gender }})</li>
    <li>Race: {{ county.race }}</li>
    <li>Title: {{ county.title }}</li>
    <li>Land: {{ county.land }} acres</li>
    <li>Calendar: Day {{ county.kingdom.world.day }} (This round of testing will end on day 168)</li>
    <li>Stored Grain: {{ county.grain_stores }} <img class="resource_icons" src="/static/images/grain_icon.jpg"></li>
    <li>Coffers: {{ county.gold }} <img class="resource_icons" src="/static/images/gold_icon.jpg"></li>
    <li>Population: {{ county.population }} <img class="resource_icons" src="/static/images/population_icon.jpg"></li>
    <li>Happiness: {{ county.happiness_terminology.title() }}</li>
    <li>Hunger: {{ county.hunger_terminology.title() }}</li>
    <li>Weather: {{ county.weather.title() }}</li>
</ul>
<br>
<ul>
    <li><h2>News</h2></li>
    {% for event in county.display_news() %}
    <li>{{ event.title }} (Day: {{ event.day }}): {{ event.content }}</li>
    {% else %}
    <li>No new events to report.</li>
    {% endfor %}
</ul>



{% endblock %}