{% extends "gameplay/layout.html" %}

{% block title %}Scientist: {{ super() }}{% endblock %}

{% block content2 %}
{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}
<div id="research-app">
  <h2>You currently gain v{ researchChange } <img class="resource_icons" src="/static/images/research_icon.jpg"> each day
    {% if county.research > 0 %} and you have {{ county.research }} bonus research{% endif %}.</h2><br>

  <h2>Current Research:</h2>
  <p>Note: More technologies become available as you complete all research within a tier.</p>
  <form id="research-form" action="{{ url_for('research_api') }}" accept-charset="UTF-8">
    {{ form.csrf_token }}
    <p>Name:
      <select-generator
        v-model="selectedResearch"
        :options="{{ form.technology.choices | vuesafe }}"
        id-name="{{ form.technology.id }}"
      ></select-generator>
    </p>
    <p>Description: v{ description }</p>
    <p>Progress: v{ progressCurrent } / v{ progressRequired }</p>
  </form>
  <br><br>
  <h2>Known Technologies</h2>
  <ul>
    {% for technology in known_technologies %}
    <li>{{ technology.name.title() }}: {{ technology.description }}</li>
    {% else %}
      <li>No technologies have been researched yet.</li>
    {% endfor %}
  </ul><br><br><br>
  <h2>All Technologies (still in testing): When all techs of a tier are researched, the next tier is unlocked</h2>
  {% for technology in all_technologies %}
    <li>{{ technology.name.title() }} (Tier {{ technology.tier }}): {{ technology.description }}</li>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.min.js"></script>
<!-- Imported Vue components must go after vue import -->
<script src="{{ url_for('static', filename='js/SelectGenerator.js') }}"></script>
<script src="{{ url_for('static', filename='js/SendForm.js') }}"></script>
<script>
// Beautiful Jinja hacked in variables.
var RESEARCH_CHANGE = {{ research_change }};
var SELECTED_RESEARCH = {{ current_tech.id }};
var DESCRIPTION = "{{ current_tech.description }}";
var PROGRESS_CURRENT = {{ current_tech.current }};
var PROGRESS_REQUIRED = {{ current_tech.required }};
// But please keep them separate.

Vue.options.delimiters = ['v{', '}'];

var app = new Vue({
  el: '#research-app',
  data () {
    return {
      researchChange: RESEARCH_CHANGE,
      selectedResearch: SELECTED_RESEARCH,
      description: DESCRIPTION,
      progressCurrent: PROGRESS_CURRENT,
      progressRequired: PROGRESS_REQUIRED
    }
  },
  methods: {
    updatePage (data) {
      this.researchChange = data.researchChange;
      this.description = data.description;
      this.progressCurrent = data.progressCurrent;
      this.progressRequired = data.progressRequired;
    }
  },
  watch: {
    selectedResearch () {
      sendForm($('#research-form'), this.updatePage)
    }
  }
})
</script>
{% endblock %}
