{% extends "gameplay/layout.html" %}

{% block title %}Infiltration: {{ super() }}{% endblock %}

{% block content2 %}

{% set user = current_user %}
{% set county = current_user.county %}
{% set kingdom = county.kingdom %}

<h2>Current Research:</h2>
<form id="economy-form" action="{{ url_for('research') }}" accept-charset="UTF-8">
    {{ form.csrf_token }}
    Name: {{ form.technology }}<br>
    Description: {{ available_technologies[0].description }}<br>
    Progress: {{ available_technologies[0].current }} / {{ available_technologies[0].required }}
</form>

<h2>Known Technologies</h2>
<ul>
    None.
</ul>

{% endblock %}
